<ul class="<%= controller_name %>Tools nav nav-pills">
  <%= render_show_doc_actions document_list, document: nil, document_list: @document_list, url_opts: sanitize_search_params(params) do |config, inner| %>
    <li>
      <%= inner.insert(3, 'class="btn btn-default"') %>
    </li>
  <% end %>
  <%# March 20 2019: Issue 1549: after the ruby upgdate to 2.5.3, refworks export with encrypted user behavior is broken, we temporarily removed the refwork export to recover the bookmark feature. TO-DO: find a permanent fix for this issue %>
  <%# = render_marc_tools %> 
</ul>
