%h1 Edit Profile
= render 'form'

= link_to 'Delete this Profile', profile_path(@profile), method: :delete, data: { confirm: 'Are you sure you want to delete this profile?' }, :class => "btn btn-danger"
