# Lightweight docker-compose which only has the datastores, so you can still develop rails locally

# To use, you must pass in the `-f` flag to docker-compose
# For example: docker-compose -f docker-compose.lightweight.yml up -d
version: '3'

volumes:
  # mysql:
  #   driver: local
  solr:
    driver: local

services:
  # Need mysql? Uncomment mysql settings below and respective volume above
  # mysql:
  #   image: mysql:5.7
  #   environment:
  #     MYSQL_ROOT_PASSWORD: mysecretpassword
  #   volumes:
  #     - mysql:/var/lib/mysql
  #   ports:
  #     - "3306:3306"

  solr:
    image: ualbertalib/blacklight_solr_conf
    ports:
       - "8983:8983"
    volumes:
      - solr:/opt/solr/server/solr/mycores
      - ./lib/docker/solr-precreate-discovery.sh:/docker-entrypoint-initdb.d/solr-precreate-discovery.sh
