---
http_interactions:
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=7296174
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>7296174</titleID><TitleAvailabilityInfo><totalCopiesAvailable>18</totalCopiesAvailable><libraryWithAvailableCopies>University
        of Alberta Internet</libraryWithAvailableCopies><libraryWithAvailableCopies>Alberta
        Government Library - Internet</libraryWithAvailableCopies><libraryWithAvailableCopies>NorQuest
        College - Main Building</libraryWithAvailableCopies><libraryWithAvailableCopies>Keyano
        College</libraryWithAvailableCopies><libraryWithAvailableCopies>Northern Lakes
        College - Internet</libraryWithAvailableCopies><libraryWithAvailableCopies>Concordia
        University of Edmonton</libraryWithAvailableCopies><libraryWithAvailableCopies>King''s
        University</libraryWithAvailableCopies><libraryWithAvailableCopies>Olds College</libraryWithAvailableCopies><libraryWithAvailableCopies>Red
        Deer College</libraryWithAvailableCopies><libraryWithAvailableCopies>MacEwan
        University - Internet</libraryWithAvailableCopies><libraryWithAvailableCopies>Grande
        Prairie Regional College - Internet</libraryWithAvailableCopies><libraryWithAvailableCopies>Lakeland
        College Internet</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>INTERNET</locationOfFirstAvailableItem><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UAINTERNET</libraryID><classificationID>LC</classificationID><callNumber>Internet
        Access</callNumber><numberOfCopies>2</numberOfCopies><ItemInfo><itemID>7296174-7001</itemID><itemTypeID>E-RESOURCE</itemTypeID><currentLocationID>INTERNET</currentLocationID><homeLocationID>INTERNET</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo><ItemInfo><itemID>7296174-7002</itemID><itemTypeID>E-RESOURCE</itemTypeID><currentLocationID>INTERNET</currentLocationID><homeLocationID>INTERNET</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>AGINTERNET</libraryID><classificationID>LC</classificationID><callNumber>Internet
        Access</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>7296174-8001</itemID><itemTy[...]
