---
http_interactions:
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=1001523
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>1001523</titleID><TitleAvailabilityInfo><totalCopiesAvailable>2</totalCopiesAvailable><libraryWithAvailableCopies>Burman
        University</libraryWithAvailableCopies><libraryWithAvailableCopies>University
        of Alberta Rutherford-Humanities &amp; Social Science</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>ON_SHELF</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>BURMAN</libraryID><classificationID>LC</classificationID><callNumber>PR
        2759 C7</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>32860000175264</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>ON_SHELF</currentLocationID><homeLocationID>ON_SHELF</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UAHSS</libraryID><classificationID>LC</classificationID><callNumber>PR
        2759 C88</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000024099657</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>ON_SHELF</currentLocationID><homeLocationID>ON_SHELF</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><BibliographicInfo><MarcEntryInfo><label>Leader</label><entryID>000</entryID><indicators>  </indicators><text>am1|0c
        a</text></MarcEntryInfo><MarcEntryInfo><label>key</label><entryID>001</entryID><indicators>  </indicators><text>1001523</text></MarcEntryInfo><MarcEntryInfo><label>Fixed
        field data</label><entryID>008</entryID><indicators>  </indicators><text>880408s1931    ilu      b      1
        0 eng e</text></MarcEntryInfo><MarcEntryInfo><label>LCCN</label><entryID>010</entryID><indicators>  </indicators><text>31020171</text></MarcEntryInfo><MarcEntryInfo><label>Local
        system #</label><entryID>035</entryID><indicators>  </indicators><text>ocm06322694</text></MarcEntryInfo><MarcEntryInfo><label>Cataloging
        Source</label><entryID>040</entryID><indicators>  </indicators><text>eng</text></MarcEntryInfo><MarcEntryInfo><label>Local
        holdings</label><entryID>049</entryID><indicators>  </indicators><text>AEU
        eng</text></MarcEntryInfo><MarcEntryInfo><label>LC Call Number</label><entryID>050</entryID><indicators>
        4</indicators><text>PR2759 .C72 1932</text></MarcEntryInfo><MarcEntryInfo><label>Local
        LC call number</label><entryID>090</entryID><indicators>  </indicators><text>PR
        2759 C7 ACHCU</text><entryTypeCodes>L</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Local
        LC call number</label><entryID>090</entryID><indicators>0 </indicators><text>PR
        2759 C88</text><entryTypeCodes>L</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Personal
        Author</label><entryID>100</entryID><indicators>1 </indicators><text>Shakespeare,
        William, 1564-1616.</text><entryTypeCodes>MAR</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Title</label><entryID>245</entryID><indicators>1[...]
