<% if has_eds_facets? %>
<div id="facets" class="facets sidenav articles-facets">
	
  <h4 data-toggle="collapse" data-target=".facets-collapse">

      <a class="btn btn-navbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </a>
  	<%= t('blacklight.search.facets.title') %>

  </h4>

  <div class="facets-collapse">
    <%= show_limiters %>
    <%= show_facets %>
  </div>
</div>

&nbsp;
<% end %>