<ul>
  <% paginator =    
      Blacklight::Solr::FacetPaginator.new(display_facet.items,        
        :limit => facet_limit_for(solr_field))
  %>
  <% paginator.items.each do |item| -%>
    <li>
    <% if facet_in_params?( solr_field, item.value ) %>              
        <%= render_selected_facet_value(solr_field, item) %>              
      <% else %>              
        <%= render_facet_value(solr_field, item) %>              
    <% end -%>
    </li>
  <% end %>

  <% if(paginator.has_next?)  %>
    <%# There's still a problem with the following link_to. Best-practice is to create a new hash, explicitly calling the required params, rather than params.merge, and then adding the new params. I don't know if this is possible with the EDS/Blacklight URLS (I don't know what params are being used) %>
    <li class="more_facets_link"><%= link_to(t('blacklight.search.facets.more'), html_safe(params.merge(:id => solr_field, :action => "facet", :page => nil)), :class => "more_facets_link") %></li>
      <% end %>

</ul>
