<h4><%= t('blacklight.welcome') %></h4>
<p>&nbsp;</p>
<p>The articles section of Blacklight searches through the university's collection of journals, newspapers, magazines, etc.  This space could be filled by a brief introductory video, links to library resources and guides, or whatever!</p>
<p>You can also customize the "<a href="/articles?q=evil+atomizer">No Results</a>" screen, which is a great point-of-need for struggling researchers.</p>
<% #Creates a bit space in the page -%>

