<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<div id="limiters" class="facets sidenav">
<div class="facets-collapse">
  <%= show_limiters %>
</div>
</div>
<% end %>&nbsp;
