<div id="sort-dropdown" class="dropdown pull-right hidden-phone">
  <ul class="css-dropdown">
    <li class="btn">
      <%= link_to(show_current_sort, "#") %> <span class="caret"></span>
      <ul>
        <%= show_sort_options %>
      </ul>
    </li>
  </ul>
</div>