<div id="view_options-dropdown" class="dropdown pull-right  hidden-phone">
  <span class="hide-text">View Options</span>
  <ul class="css-dropdown">
    <li class="btn">
      <%= link_to("View: " + show_view_option.titleize, "#") %> <span class="caret"></span>
      <ul>
        <!-- implement default options -->
        <li><%= link_to("View: Title", request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=SetView(title)") %></li>
        <li><%= link_to("View: Brief", request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=SetView(brief)") %></li>
        <li><%= link_to("View: Detailed", request.fullpath.split("?")[0] + "?" + generate_next_url + "&eds_action=SetView(detailed)") %></li>
      </ul>
    </li>
  </ul>
</div>
