<p>Item ID: <%= @correction.item_id %></p>
<p>Message: <%= @correction.message %></p>

<p>*** this email generated automatically from <%= link_to new_catalog_correction_url, new_catalog_correction_url %> ***<p>
