---
http_interactions:
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=5843133
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>5843133</titleID><TitleAvailabilityInfo><totalCopiesAvailable>0</totalCopiesAvailable><totalResvCopiesAvailable>0</totalResvCopiesAvailable><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UASCITECH</libraryID><classificationID>LC</classificationID><callNumber>QA
        76.73 C565 E538 2012</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>0162031173931</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>CHECKEDOUT</currentLocationID><homeLocationID>ON_SHELF</homeLocationID><dueDate>2019-05-31T00:00:00.035-06:00</dueDate><chargeable>false</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><BibliographicInfo><MarcEntryInfo><label>Leader</label><entryID>000</entryID><indicators>  </indicators><text>am
        a0c a</text></MarcEntryInfo><MarcEntryInfo><label>key</label><entryID>001</entryID><indicators>  </indicators><text>5843133</text></MarcEntryInfo><MarcEntryInfo><label>Data
        source</label><entryID>003</entryID><indicators>  </indicators><text>LTSCA</text></MarcEntryInfo><MarcEntryInfo><label>Date/time
        stamp</label><entryID>005</entryID><indicators>  </indicators><text>20120827075137.0</text></MarcEntryInfo><MarcEntryInfo><label>Fixed
        field data</label><entryID>008</entryID><indicators>  </indicators><text>110402s2012    cc
        a     b    001 0 eng d</text></MarcEntryInfo><MarcEntryInfo><label>016</label><entryID>016</entryID><indicators>7
        </indicators><text>015956021 Uk</text></MarcEntryInfo><MarcEntryInfo><label>ISBN</label><entryID>020</entryID><indicators>  </indicators><text>9781449394707</text><entryTypeCodes>I</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>ISBN</label><entryID>020</entryID><indicators>  </indicators><text>1449394701</text><entryTypeCodes>I</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Local
        system #</label><entryID>035</entryID><indicators>  </indicators><text>ocn711045678</text></MarcEntryInfo><MarcEntryInfo><label>Cataloging
        Source</label><entryID>040</entryID><indicators>  </indicators><text>BTCTA
        eng BTCTA UKMGB YDXCP BDX JBL KRS BWX CDX AE[...]
