---
http_interactions:
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=4072071
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>4072071</titleID><TitleAvailabilityInfo><totalCopiesAvailable>5</totalCopiesAvailable><libraryWithAvailableCopies>University
        of Alberta Rutherford-Humanities &amp; Social Science</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>MICROFILM</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UAHSS</libraryID><classificationID>LC</classificationID><callNumber>BV
        2500 C48 gd. pt.6-12</callNumber><numberOfCopies>3</numberOfCopies><ItemInfo><itemID>0162024726117</itemID><itemTypeID>NO_LOAN</itemTypeID><currentLocationID>MICRO_REF</currentLocationID><homeLocationID>MICRO_REF</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo><ItemInfo><itemID>0162024726125</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>MICROFORM</currentLocationID><homeLocationID>MICROFORM</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo><ItemInfo><itemID>0162024726182</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>ON_SHELF</currentLocationID><homeLocationID>ON_SHELF</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UAHSS</libraryID><classificationID>LC</classificationID><callNumber>BV
        2500 C48 pt.7-9</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>0162024726059</itemID><itemTypeID>MICROFORM</itemTypeID><currentLocationID>MICROFILM</currentLocationID><homeLocationID>MICROFILM</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UAHSS</libraryID><classificationID>LC</classificationID><callNumber>BV
        2500 C48 pt.17-18</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>0162028682803</itemID><itemTypeID>MICROFORM</itemTypeID><currentLocationID>MICROFILM</currentLocationID><homeLocationID>MICROFILM</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><BibliographicInfo><MarcEntryInfo><label>Leader</label><entryID>000</entryID><indicators>  </indicators><text>tm
        a0c a</text></MarcEntryInfo><MarcEntryInfo><label>key</label><entryID>001</entryID><indicators>  </indicators><text>4072071</text></MarcEntryInfo><MarcEntryInfo><label>Date/time
        stamp</label><entryID>005</entryID><indicators>  </indicators><text>20060707090637.0</text></MarcEntryInfo><MarcEntryInfo><label>Fixed
        field data</label><entryID>007</entryID><indicators>  </indicators><text>hd
        afb|||baca</text></MarcEntryInfo><MarcEntryInfo><label>Fixed field data</label><entryID>008</entryID><indicators>  </indicators><text>991014m19962010enk     a     001
        0 eng</text></MarcEntryInfo><MarcEntryInfo><label>LCCN</label><entryID>010</entryID><indicators>  </indicators><text>99483682</text></MarcEntryInfo><MarcEntryInfo><label>ISBN</label><entryID>020</entryID><indicators>  </indicators><text>1857111206</text><entryTypeCodes>I</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Local
        system #</label><entryID>035</entryID><indicators>  </indicators><text>ocm42786524</text></MarcEntryInfo><MarcEntryInfo><label>Cataloging
        Source</label><entryID>040</entryID><indicators>  </indicators><text>DLC eng
        DLC DLC AEU AEU</text></MarcEntryInfo><MarcEntryInfo><label>Geographic Area
        Code</label><entryID>043</entryID><indicators>  </indicators><text>e-uk---</text></MarcEntryInfo><MarcEntryInfo><la[...]
[...]
