---
http_interactions:
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=10068
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>10068</titleID><TitleAvailabilityInfo><totalCopiesAvailable>1</totalCopiesAvailable><libraryWithAvailableCopies>University
        of Alberta Research Collections Resource Facility</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>ON_SHELF</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UARCRF</libraryID><classificationID>LC</classificationID><callNumber>LB
        01 459 (1 reel)</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000000231118</itemID><itemTypeID>MICROFORM</itemTypeID><currentLocationID>ON_SHELF</currentLocationID><homeLocationID>ON_SHELF</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking><staffNote>{A0046622}</staffNote></ItemInfo></CallInfo><BibliographicInfo><MarcEntryInfo><label>Leader</label><entryID>000</entryID><indicators>  </indicators><text>am
        |0c a</text></MarcEntryInfo><MarcEntryInfo><label>key</label><entryID>001</entryID><indicators>  </indicators><text>10068</text></MarcEntryInfo><MarcEntryInfo><label>Fixed
        field data</label><entryID>008</entryID><indicators>  </indicators><text>010974s1972    quc     a         0
        eng</text></MarcEntryInfo><MarcEntryInfo><label>Local system #</label><entryID>035</entryID><indicators>  </indicators><text>ocn461369443</text></MarcEntryInfo><MarcEntryInfo><label>Cataloging
        Source</label><entryID>040</entryID><indicators>  </indicators><text>eng</text></MarcEntryInfo><MarcEntryInfo><label>Geographic
        Area Code</label><entryID>043</entryID><indicators>  </indicators><text>n
        ---</text></MarcEntryInfo><MarcEntryInfo><label>Local holdings</label><entryID>049</entryID><indicators>  </indicators><text>aeu
        eng</text></MarcEntryInfo><MarcEntryInfo><label>LC Call Number</label><entryID>050</entryID><indicators>0
        </indicators><text>LB 01 459</text></MarcEntryInfo><MarcEntryInfo><label>Local
        LC call number</label><entryID>090</entryID><indicators>00</indicators><text>LB
        01 459 AEU</text><entryTypeCodes>L</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Personal
        Author</label><entryID>100</entryID><indicators>1 </indicators><text>Potter,
        Geoffrey D.</text><entryTypeCodes>MAR</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Title</label><entryID>245</entryID><indicators>14</indicators><text>The
        development of free schools [microform]</text><entryTypeCodes>RMT</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Publication
        info</label><entryID>260</entr[...]
[...]
