---
http_interactions:
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=8257854
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>8257854</titleID><TitleAvailabilityInfo><totalCopiesAvailable>2</totalCopiesAvailable><libraryWithAvailableCopies>University
        of Alberta Internet</libraryWithAvailableCopies><libraryWithAvailableCopies>MacEwan
        University - Internet</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>INTERNET</locationOfFirstAvailableItem><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UAINTERNET</libraryID><classificationID>LCPER</classificationID><callNumber>Internet
        Access</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>8257854-2001</itemID><itemTypeID>E-RESOURCE</itemTypeID><currentLocationID>INTERNET</currentLocationID><homeLocationID>INTERNET</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>GR_MAC_INT</libraryID><classificationID>LCPER</classificationID><callNumber>Internet
        Access</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>8257854-1001</itemID><itemTypeID>E-RESOURCE</itemTypeID><currentLocationID>INTERNET</currentLocationID><homeLocationID>INTERNET</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><BibliographicInfo><MarcEntryInfo><label>Leader</label><entryID>000</entryID><indicators>  </indicators><text>asz
        0n a</text></MarcEntryInfo><MarcEntryInfo><label>key</label><entryID>001</entryID><indicators>  </indicators><text>8257854</text></MarcEntryInfo><MarcEntryInfo><label>Date/time
        stamp</label><entryID>005</entryID><indicators>  </indicators><text>00000000000000.0</text></MarcEntryInfo><MarcEntryInfo><label>Added
        material codes</label><entryID>006</entryID><indicators>  </indicators><text>m        d</text></MarcEntryInfo><MarcEntryInfo><label>Fixed
        field data</label><entryID>007</entryID><indicators>  </indicators><text>cr
        mnu</text></MarcEntryInfo><MarcEntryInfo><label>Fixed field data</label><entryID>008</entryID><indicators>  </indicators><text>180704uuuuuuuuuxx
        uu | o    u|    |eng d</text></MarcEntryInfo><MarcEntryInfo><label>Local system
        #</label><entryID>035</entryID><indicators>  </indicators><text>on1043633253</text></MarcEntryInfo><MarcEntryInfo><label>Local
        LC call number</label><entryID>090</entryID><indicators>  </indicators><text>Internet
        Access AEGMCT</text><entryTypeCodes>L</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Local
        LC call number</label><entryID>090</entryID><indicators>  </indicators><text>Internet
        Access AEU</text><entryTypeCodes>L</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Uniform
        title</label><entryID>130</entryID><indicators>0 </indicators><text>Industry
        Insights: Consumer Series (Online)</text><entryTypeCodes>MRuT</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Title</label><entryID>245</entryID><indicators>10</indicators><text>Industry
        Insights: Consumer Series [electronic resource]</text><entryTypeCodes>RMT</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Publication
        info</label><entryID>260</entryID><indicators>  </indicators><text>International
        Council of Shopping Centers 2018</text><entryTypeCodes>Y</entryTypeCode[...]
