---
http_interactions:
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=2661760
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>2661760</titleID><TitleAvailabilityInfo><totalCopiesAvailable>2</totalCopiesAvailable><libraryWithAvailableCopies>University
        of Alberta HT Coutts - Education and KSR</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>CURR_HIST</locationOfFirstAvailableItem><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UAEDUC</libraryID><classificationID>LC</classificationID><callNumber>QA
        76.73 J38 S43 2000</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>0162016585224</itemID><itemTypeID>NO_LOAN</itemTypeID><currentLocationID>CURR_HIST</currentLocationID><homeLocationID>CURR_HIST</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UAEDUC</libraryID><classificationID>LC</classificationID><callNumber>QA
        76.73 J38 S43 2000 man</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>0162017253251</itemID><itemTypeID>NO_LOAN</itemTypeID><currentLocationID>CURR_HIST</currentLocationID><homeLocationID>CURR_HIST</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><BibliographicInfo><MarcEntryInfo><label>Leader</label><entryID>000</entryID><indicators>  </indicators><text>am
        a0c a</text></MarcEntryInfo><MarcEntryInfo><label>key</label><entryID>001</entryID><indicators>  </indicators><text>2661760</text></MarcEntryInfo><MarcEntryInfo><label>Data
        source</label><entryID>003</entryID><indicators>  </indicators><text>CaMWOCL</text></MarcEntryInfo><MarcEntryInfo><label>Date/time
        stamp</label><entryID>005</entryID><indicators>  </indicators><text>20030108114313.0</text></MarcEntryInfo><MarcEntryInfo><label>Fixed
        field data</label><entryID>008</entryID><indicators>  </indicators><text>990915s2000    ohua          001
        0 eng</text></MarcEntryInfo><MarcEntryInfo><label>LCCN</label><entryID>010</entryID><indicators>  </indicators><text>99048316</text></MarcEntryInfo><MarcEntryInfo><label>ISBN</label><entryID>020</entryID><indicators>  </indicators><text>0538694041</text><entryTypeCodes>I</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Local
        system #</label><entryID>035</entryID><indicators>  </indicators><text>ocm42462997</text></MarcEntryInfo><MarcEntryInfo><label>Cataloging
        Source</label><entryID>040</entryID><indicators>  </indicators><text>DLC eng
        DLC C#P AEU</text></MarcEntryInfo><MarcEntryInfo><label>Authentication code</label><entryID>042</entryID><indicators>  </indicators><text>pcc</text></MarcEntryInfo><MarcEntryInfo><label>LC
        Ca[...]
