---
http_interactions:
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=1008878
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>1008878</titleID><TitleAvailabilityInfo><totalCopiesAvailable>3</totalCopiesAvailable><libraryWithAvailableCopies>University
        of Alberta Internet</libraryWithAvailableCopies><libraryWithAvailableCopies>Concordia
        University of Edmonton</libraryWithAvailableCopies><libraryWithAvailableCopies>University
        of Alberta Research Collections Resource Facility</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>INTERNET</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UAINTERNET</libraryID><classificationID>LC</classificationID><callNumber>Internet
        Access</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>1008878-2001</itemID><itemTypeID>E-RESOURCE</itemTypeID><currentLocationID>INTERNET</currentLocationID><homeLocationID>INTERNET</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>CONCORDIA</libraryID><classificationID>LC</classificationID><callNumber>Internet
        Access</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>1008878-3001</itemID><itemTypeID>E-RESOURCE</itemTypeID><currentLocationID>INTERNET</currentLocationID><homeLocationID>INTERNET</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UARCRF</libraryID><classificationID>LC</classificationID><callNumber>HF
        5353 S67</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000043432574</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>ON_SHELF</currentLocationID><homeLocationID>ON_SHELF</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking><staffNote>{
        A0019567}</staffNote></ItemInfo></CallInfo><BibliographicInfo><MarcEntryInfo><label>Leader</label><entryID>000</entryID><indicators>  </indicators><text>am1
        0c a</text></MarcEntryInfo><MarcEntryInfo><label>key</label><entryID>001</entryID><indicators>  </indicators><text>1008878</text></MarcEntryInfo><MarcEntryInfo><label>Fixed
        field data</label><entryID>008</entryID><indicators>  </indicators><text>910209s1925    xx
        afk            0 eng d</text></MarcEntryInfo><MarcEntryInfo><label>LCCN</label><entryID>010</entryID><indicators>  </indicators><text>25006507</text></MarcEntryInfo><MarcEntryInfo><label>Local
        system #</label><entryID>035</entryID><indicators>  </indicators><text>ocm00526001</text></MarcEntryInfo><MarcEntryInfo><label>Cataloging
        Source</label><entryID>040</entryID><indicators>  </indicators><text>eng CarP</text></MarcEntryInfo><MarcEntryInfo><label>Local
        holdings</label><entryID>049</entryID><indicators>  </indicators><text>ALB
        eng</text></MarcEntryInfo><MarcEntryInfo><label>LC Call Number</label><entryID>050</entryID><indicators>0
        </indicators><text>HF5353 .S55</text></MarcEntryInfo><MarcEntryInfo><label>Local
        LC call number</label><entryID>090</entryID><indicators>0 </indicators><text>HF
        5353 S67 AEU</text><entryTypeCodes>L</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Local
        LC call number</label><entryID>090</entryID><indicators>  </indicators><text>Internet
        Access AEC</text><entryTypeCodes>L</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Local
        LC call number</label><entryID>090</entryID><indicators>  </indicators><text>Internet
        Access AEU</text><entryTypeCodes>L</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Personal
        Author</label><entryID>100</entry[...]
[...]
