      <div class="push"></div>
  </div>

  </div>
  </div>
  <div class="footer" id="footer">
      <div class="container">
        <ul class="foot-nav">
          <li><a href="/about-us/policies/" data-no-turbolink="true">Policies</a></li>
          <li><a href="/about-us/employment/" data-no-turbolink="true">Employment</a></li>
          <li><a href="/about-us/librarians/" data-no-turbolink="true">Our People</a></li>
          <li><a href="/about-us/collection/" data-no-turbolink="true">Our Collection</a></li>
          <li><a href="/about-us/donations/" data-no-turbolink="true">Gifts and Donations</a></li>
          <li><a href="http://www.copyright.ualberta.ca/" data-no-turbolink="true">Copyright</a></li> 
        </ul>
          
         <p class="copyright"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><%= image_tag "cc.png", :class => "cc", :alt => "Copyright Statement" %></a>
        This work is subject to a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a> -- For exceptions, see the <a href="/aboutus/reuse/">Library Re-use and Attribution Statement.</a> </p>
      <p>
          <a href="/">University of Alberta Libraries</a> - <a href="http://www.ualberta.ca">University of Alberta</a>, Edmonton, AB, Canada T6G 2R3 | <a href="http://www.library.ualberta.ca/privacy/">Web Site Privacy Policy</a></p>
        </div>
      </div>
    </div>