      <div class="push"></div>
  </div>

  </div>
  </div>
  <div class="footer" id="footer">
      <div class="container">
        <ul class="foot-nav">
          <li><a href="/site-search" data-no-turbolink="true">Recherche ce site</a></li>
          <li><a href="https://web.library.ualberta.ca/feedback/" data-no-turbolink="true">Retour d'information</a></li>
          <li><a href="/about-us/policies" data-no-turbolink="true">Politiques</a></li>
          <li><a href="/about-us/employment" data-no-turbolink="true">Offres d'emploi</a></li>
          <li><a href="/about-us/people" data-no-turbolink="true">Personnel</a></li>
          <li><a href="/about-us/collections"  data-no-turbolink="true">Nos collections</a></li>
          <li><a href="/support" data-no-turbolink="true">Soutenir la bibliothèque</a></li>
          <li><a href="http://www.copyright.ualberta.ca" data-no-turbolink="true">Droit d'auteur</a></li>
        </ul>

        <p class="copyright"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><%= image_tag "cc.png", :class => "cc", :alt => "Copyright Statement" %></a>
        This work is subject to a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a> -- For exceptions, see the <a href="/about-us/policies/re-use">Library Re-use and Attribution Statement.</a> <a href="/about-us/policies/privacy-policy" data-no-turbolink="true">Web Site Privacy Policy</a></p>
      <p>
          <a href="/" data-no-turbolink="true">University of Alberta Libraries</a> - <a href="http://www.ualberta.ca">University of Alberta</a>, Edmonton, AB, Canada T6G 2R3 - Nous sommes situés sur le Traité 6 / Territoire métis. </p>
        </div>
      </div>
    </div>
