</main>
  <footer class="ual-ft pt-3">
    <div class="container flex-fill">
      <div class="row">
        <div class="col-sm text-center">
          <a href="/sandbox/home" aria-label="UA Library Home">
            <img src="/UA-LIB.svg" width="75%" height="70px" class="ual-ft-logo" type="image/svg+xml" alt="UA Library Logo"/>
          </a>  
          <a href="https://library.ualberta.ca/about-us/vision">
            <button class="btn ual-btn mt-2">Connecting. Engaging. Creating.</button>
          </a>
        </div>
        <div class="col-lg order-lg-first">
         <div class="row row ml-4 mt-2 ml-lg-0">   
          <ul class="ual-ft-nav col">
            <li><a href="https://library.ualberta.ca/about-us/people">Our People</a></li>
            <li><a href="https://library.ualberta.ca/about-us/policies">Our Policies</a></li>
            <li><a href="https://library.ualberta.ca/about-us/collection">Our Collection</a></li>  
            <li><a href="https://library.ualberta.ca/about-us/partners">Open to Collaborate</a></li> 
          </ul>
          <ul class="ual-ft-nav col">
            <li><a href="https://library.ualberta.ca/services/accessibility-services">Accessiblity at UAL</a></li> 
            <li><a href="https://library.ualberta.ca/support">Support Us</a></li>
            <li><a href="https://library.ualberta.ca/about-us/employment">Employment</a></li>
            <li><a href="https://www.ualberta.ca/faculty-and-staff/copyright/index.html">Copyright Office</a></li>
          </ul>
        </div>
        </div>
        <div class="col-lg">
          <p class="small text-justify ml-4 mt-2">The University of Alberta Library acknowledges that we are located on Treaty 6 and M&eacute;tis territory, and we respect the histories, languages, and cultures of First Nations, M&eacute;tis, Inuit, and all First Peoples of Canada, whose presence continues to enrich our vibrant community.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-0 mt-2">
           <p class="text-center small"><a href="https://library.ualberta.ca" >University of Alberta</a>, Edmonton, AB, Canada T6G 2R3 | This site is licensed under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons License</a> | <a href="https://library.ualberta.ca/about-us/policies/privacy-policy">Website Privacy Policy</a></p> 
        </div>
      </div>
    </div>
  <div class="ual-ft-bottom"></div>
  </footer>
</div>