      <div class="push"></div>
  </div>

  </div>
  </div>
  <div class="footer" id="footer">
      <div class="container">
        <ul class="foot-nav">
          <li><a href="#">Policies</a></li>
          <li><a href="#">Employment</a></li>
          <li><a href="#">Our People</a></li>
          <li><a href="#">Our Collection</a></li>
          <li><a href="#">Gifts and Donations</a></li>
          <li><a href="#">Copyright</a></li> 
        </ul>
          
         <p class="copyright"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="assets/cc.png" class="cc"></a>
        This work is subject to a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a> -- For exceptions, see the <a href="http://www.library.ualberta.ca/aboutus/reuse/">Library Re-use and Attribution Statement.</a> </p>
      <p>
          <a href="/">University of Alberta Libraries</a> - <a href="http://www.ualberta.ca">University of Alberta</a>, Edmonton, AB, Canada T6G 2R3 | <a href="http://www.library.ualberta.ca/privacy/">Web Site Privacy Policy</a></p>
        </div>
      </div>
    </div>