      <div class="push"></div>
  </div>

  </div>
  </div>
  <div class="footer" id="footer">
      <div class="container">
        <ul class="foot-nav">
          <li><a href="https://www.library.ualberta.ca/policies/" data-no-turbolink="true">Politiques</a></li>
          <li><a href="https://www.library.ualberta.ca/employment/" data-no-turbolink="true">Offres d'emploi</a></li>
          <li><a href="https://www.library.ualberta.ca/aboutus/librarians/" data-no-turbolink="true">Personnel</a></li>
          <li><a href="https://www.library.ualberta.ca/aboutus/collection/" data-no-turbolink="true">Nos collections</a></li>
          <li><a href="https://www.library.ualberta.ca/donations/" data-no-turbolink="true">Faire un don</a></li>
          <li><a href="http://www.copyright.ualberta.ca/" data-no-turbolink="true">Droit d'auteur</a></li> 
        </ul>
          
         <p class="copyright"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><%= image_tag "cc.png", :class => "cc", :alt => "Copyright Statement" %></a>
        This work is subject to a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a> -- For exceptions, see the <a href="http://www.library.ualberta.ca/aboutus/reuse/">Library Re-use and Attribution Statement.</a> </p>
      <p>
          <a href="/">University of Alberta Libraries</a> - <a href="http://www.ualberta.ca">University of Alberta</a>, Edmonton, AB, Canada T6G 2R3 | <a href="http://www.library.ualberta.ca/privacy/">Web Site Privacy Policy</a></p>
        </div>
      </div>
    </div>