<!-- Start Header and Navigation -->
    <div id="top"><a name="top"></a></div>
    <div class="container-fluid hidden-xs"> <!-- UofA Blade -->
      <div class="container">
        <div class="row">
            <div class="col-sm-2"><a href="/francais" class="version"  data-no-turbolink="true">version française</a></div>
          <ul class="nav navbar-nav">
             <li><a href="https://ualberta.ca">UAlberta Home</a></li>
            <li><a href="https://myualberta.ualberta.ca/home">My UAlberta</a></li>
            <li><a href="http://webapps.srv.ualberta.ca/search">Find a Person</a></li>
            <li><a href="http://www.onecard.ualberta.ca">ONEcard</a></li>
            <li><a href="https://www.beartracks.ualberta.ca">Bear Tracks</a></li>
            <li><a href="http://www.campusmap.ualberta.ca">Maps</a></li>
            <li><a href="http://apps.ualberta.ca">Email &amp; Apps</a></li>
            <li class="last"><a href="https://eclass.srv.ualberta.ca/portal">eClass</a></li>
          </ul>
        </div> 
      </div>
    </div><!-- End UofA Blade -->
    <div class="container-fluid banner-container"><!-- Logo, banner, ask-us and mobile navigation -->
      <div class="container banner">
        <div class="row">
          <div class="col-sm-6 col-xs-7">
            <h1>
             <a href="/"  data-no-turbolink="true"><%= image_tag "ualib-logo-sm.png", :class => "ualogo", :alt => "University of Alberta Libraries" %></a>
            </h1>
          </div>
          <div class="col-sm-6 col-xs-3 ask-sm">
            <a href="/ask-us" class="ask-main" data-no-turbolink="true" target="_blank">Ask Us</a>
          </div>
          <div class="col-xs-2 visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <h2>menu</h2><!-- Mobile menu button -->
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button><!-- End mobile menu button -->
          </div>
        </div>
      </div>        
      <div id="navbar" class="col-xs-10 collapse" style="height: 0px;"><!-- Mobile menu -->
        <ul>
          <li class="active"><a href="/" data-no-turbolink="true">Search &amp; Home</a></li>
          <li><a href="https://hours.library.ualberta.ca">Hours and Locations</a></li>
            <li><a href="/#main-news" data-no-turbolink="true">News &amp; Workshops</a></li>
          <li><a href="/#main-services" data-no-turbolink="true">Services</a></li>
          <li><a href="/#main-subjects" data-no-turbolink="true">Subject Guides</a></li>
          <li><a href="/#main-account" data-no-turbolink="true" >My Account</a></li>
             <li><a href="/francais" >Version Française</a></li>
          <li><a href="http://www.ualberta.ca">University of Alberta Home</a></li>
        </ul>
      </div><!-- End mobile menu -->
    </div>
  <div class="container-fluid nav-container hidden-xs"><!-- non-mobile navigation -->
      <div class="container">
        <div class="col-sm-12">
          <div class="row">
            <ul class="lib-nav">
              <li id="home-nav" style="display:block" class="col-sm-2">
                <a href="/" data-no-turbolink="true">Search &amp; Home</a>
              </li>
              <li id="news-nav" class="col-sm-2">
                <a href="/#main-news" data-no-turbolink="true"><span></span>News &amp; Workshops</a>
              </li>
              <li id="services-nav" class="col-sm-2">
                <a href="/#main-services" data-no-turbolink="true"><span></span>Services</a>
              </li>
              <li id="subjects-nav" class="col-sm-2">
                <a href="/#main-subjects" data-no-turbolink="true"><span></span>Subject Guides</a>
              </li>
              <li id="research-nav" class="col-sm-2">
                <a href="/#main-research" data-no-turbolink="true"><span></span>Research Support</a>
              </li>
              <li id="account-nav" class="col-sm-2">
                <a href="/#main-account" data-no-turbolink="true" ><span></span>My Account</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- End non-mobile navigation -->

