<!-- Start Header and Navigation -->
    <div id="top"><a name="top"></a></div>
    <div class="container-fluid hidden-xs"> <!-- UofA Blade -->
      <div class="container">
        <div class="row">
           <div class="col-sm-2"><a href="/" class="version"  data-no-turbolink="true">english version</a></div>
          <ul class="nav navbar-nav">
            <li><a href="https://myualberta.ualberta.ca/home/">My UAlberta</a></li>
            <li><a href="http://webapps.srv.ualberta.ca/search/">Trouver une personne</a></li>
            <li><a href="http://www.onecard.ualberta.ca/">ONEcard</a></li>
            <li><a href="https://www.beartracks.ualberta.ca/">Bear Tracks</a></li>
            <li><a href="http://www.campusmap.ualberta.ca/">Cartes</a></li>
            <li><a href="https://weblogin.srv.ualberta.ca/">Courriel et Applis</a></li>
            <li><a href="https://eclass.srv.ualberta.ca/portal/">eClass</a></li>
            <li class="last"><a href="http://www.library.ualberta.ca/">Bibliothèques</a></li>
          </ul>
        </div> 
      </div>
    </div><!-- End UofA Blade -->
    <div class="container-fluid banner-container"><!-- Logo, banner, ask-us and mobile navigation -->
      <div class="container banner">
        <div class="row">
          <div class="col-sm-6 col-xs-7">
            <h1>
             <a href="/francais"  data-no-turbolink="true"><%= image_tag "ualib-logo-french-sm.png", :class => "ualogo", :alt => "University of Alberta Libraries" %></a>
            </h1>
          </div>
          <div class="col-sm-6 col-xs-3 ask-sm">
            <a href="https://www.library.ualberta.ca/askus_fr/index.cfm" class="ask-main">question?</a>
          </div>
          <div class="col-xs-2 visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <h2>menu</h2><!-- Mobile menu button -->
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button><!-- End mobile menu button -->
          </div>
        </div>
      </div>        
      <div id="navbar" class="col-xs-10 collapse" style="height: 0px;"><!-- Mobile menu -->
        <ul>
          <li class="active"><a href="/francais">Recherche et Accueil</a></li>

          <li><a href="https://www.library.ualberta.ca">Heures et localisations</a></li>
           <li><a href="https://www.library.ualberta.ca">Nouvelles</a></li>
          <li><a href="https://www.library.ualberta.ca/services/">Services</a></li>
          <li><a href="https://www.library.ualberta.ca/browse/">Subject Guides</a></li>
         
          <li><a href="https://www.library.ualberta.ca/researchdata/">Research Support</a></li>
          <li><a href="https://www.library.ualberta.ca/myaccount/">My Account</a></li>
          <li><a href="http://www.ualberta.ca">University of Alberta Accueil</a></li>
        </ul>
      </div><!-- End mobile menu -->
    </div>
  <div class="container-fluid nav-container hidden-xs"><!-- non-mobile navigation -->
      <div class="container">
        <div class="col-sm-12">
          <div class="row">
            <ul class="lib-nav">
              <li id="home" style="display:block" class="col-sm-2 first">
                <a href="/francais" data-no-turbolink="true">Recherche et Accueil</a>
              </li>
              <li id="news" class="col-sm-2">
                <a href="https://www.library.ualberta.ca" data-no-turbolink="true"><span></span>Nouvelles</a>
              </li>
              <li id="services" class="col-sm-2">
                <a href="https://www.library.ualberta.ca/services/" data-no-turbolink="true"><span></span>Services</a>
              </li>
              <li id="subjects" class="col-sm-2">
                <a href="http://guides.library.ualberta.ca/pageaccueil" data-no-turbolink="true"><span></span>Guides par sujet</a>
              </li>
              <li id="research" class="col-sm-2">
                <a href="https://www.library.ualberta.ca/researchdata/" data-no-turbolink="true"><span></span>Recherche</a>
              </li>
              <li id="account" class="col-sm-2">
                <a href="https://www.library.ualberta.ca/myaccount/" data-no-turbolink="true"><span></span>Mon Dossier</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- End non-mobile navigation -->

