<!-- Start Header and Navigation -->
    <div class="" id="top"><a name="top"></a>
      <div class="container">
        <div class="collapse navbar-collapse hidden-xs"> <!-- UofA Blade -->
          <ul class="nav navbar-nav">
            <li><a href="https://myualberta.ualberta.ca/home/">My UAlberta</a></li>
            <li><a href="http://webapps.srv.ualberta.ca/search/">Find a Person</a></li>
            <li><a href="http://www.onecard.ualberta.ca/">ONEcard</a></li>
            <li><a href="https://www.beartracks.ualberta.ca/">Bear Tracks</a></li>
            <li><a href="http://www.campusmap.ualberta.ca/">Maps</a></li>
            <li><a href="https://weblogin.srv.ualberta.ca/">Email &amp; Apps</a></li>
            <li><a href="https://eclass.srv.ualberta.ca/portal/">eClass</a></li>
            <li><a href="http://www.library.ualberta.ca/" class="last">Libraries</a></li>
          </ul>
        </div> <!-- End UofA Blade -->
        <div class="row header">
          <div class="container">
            <div class="col-xs-8 col-md-6 col-sm-5">
              <h1>
                <%= link_to image_tag('ualib-logo.png', :class => 'ualogo', :alt =>'University of Alberta Libraries'), '/', data: { no_turbolink: true } %>
              </h1>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <h2>menu</h2><!-- Mobile menu button -->
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button><!-- End mobile menu button -->
            <div class="col-xs-12 col-md-6 col-sm-7">
              <ul class="ask">
                <li><a href="http://www.library.ualberta.ca/askus/" class="ask-main">Ask Us</a></li>
                <li><a href="http://www.library.ualberta.ca/askus/" class="hidden-xs">Text</a></li>
                <li><a href="http://www.library.ualberta.ca/askus/" class="hidden-xs">Chat</a></li>
                <li><a href="http://www.library.ualberta.ca/ereference/email/" class="hidden-xs">Email</a></li>
                <li><a href="http://www.library.ualberta.ca/askus/" class="last hidden-xs">Phone</a></li> 
              </ul>
            </div>
            <div id="navbar" class="collapse col-xs-10"><!-- Mobile menu -->
              <ul>
                <li class="active"><a data-scroll href="#top"  data-toggle="collapse" data-target="#navbar" data-no-turbolink="true">Search &amp; Home</a></li>
                <li><a data-scroll href="#hours-anch" data-toggle="collapse" data-target="#navbar" data-no-turbolink="true">Hours and Locations</a></li>
                <li><a data-scroll href="#services-pane" data-toggle="collapse" data-target="#navbar" data-no-turbolink="true">Services</a></li>
                <li><a data-scroll href="#subjects-pane" data-toggle="collapse" data-target="#navbar" data-no-turbolink="true">Subject Guides</a></li>
                <li><a data-scroll href="#news-pane" data-toggle="collapse" data-target="#navbar">News &amp; Events</a></li>
                <li><a data-scroll href="#research-pane" data-toggle="collapse" data-target="#navbar" data-no-turbolink="true">Research Support</a></li>
                <li><a data-scroll href="#account-pane" data-toggle="collapse" data-target="#navbar" data-no-turbolink="true">My Account</a></li>
                <li><a href="http://www.ualberta.ca">University of Alberta Home</a></li>
              </ul>
            </div><!-- End mobile menu -->
          </div>
        </div>
     <div id="main-nav" class="small">
          <div class="col-xs-2 col-sm-2" id="home" style="display: block;">
            <div>
              <h3><a href="/"><span></span>Search &amp; Home</a></h3>
            </div>
          </div>
          <div class="col-sm-2" id="services">
            <div>
              <h3><a href="/#main-services"><span></span>Services</a></h3>
            
            </div>
          </div>
          <div class="col-sm-2" id="subjects">
            <div>
              <h3><a href="/#main-subjects"><span></span>Subject Guides</a></h3>
             
            </div>
          </div>
          <div class="col-sm-2" id="news">
            <div>
              <h3><a href="/#main-news"><span></span>News &amp; Events</a></h3>
              
            </div>
          </div>
          <div class="col-sm-2" id="research">
            <div>
              <h3><a href="/#main-research"><span></span>Research Support</a></h3>
             
            </div>
          </div>
          <div class="col-sm-2" id="account">
            <div>
              <h3><a href="/#main-account"><span></span>My Account</a></h3>
             
            </div>
          </div>
        </div>
      </div>
  
    </div>

