<div class="d-flex flex-column sticky-footer-wrapper">
  <nav class="navbar navbar-expand-lg navbar-light ual-blade">
    <div class="container flex-fill">
      <a href="https://library.ualberta.ca/ask-us" class="ual-pulse"><i class="fas fa-comment"></i> Chat with us</a>
      <button class="navbar-toggler ual-blade-toggler" type="button" data-toggle="collapse" data-target="#navbarBlade" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarBlade">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="https://www.ualberta.ca">UAlberta Home</a></li>
          <li class="nav-item"><a href="https://apps.ualberta.ca/directory">Find a Person</a></li>
          <li class="nav-item"><a href="https://www.onecard.ualberta.ca/">ONEcard</a></li>
          <li class="nav-item"><a href="https://www.beartracks.ualberta.ca/">Bear Tracks</a></li>
          <li class="nav-item"><a href="https://www.ualberta.ca/maps?l=53.522898,-113.525575&z=15&campus=north_campus">Maps</a></li>
          <li class="nav-item"><a href="https://apps.ualberta.ca/">Email &amp; Apps</a></li>
          <li class="nav-item"><a href="https://eclass.srv.ualberta.ca/portal/" class="ual-last">eClass</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="ual-top">
    <nav class="navbar navbar-expand-lg navbar-light ual-nav pb-0 pt-0">
      <div class="container flex-fill pt-3 pb-3">
        <a class="navbar-brand mr-0" href="https:/library.ualberta.ca/" aria-label="UA Library Home">
          <img src="/UA-LIB.svg" class="ual-logo" type="image/svg+xml" alt="UA Library Logo"/>    
        </a>
        <button class="navbar-toggler ual-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="https://library.ualberta.ca/services">Library Services</a></li>
            <li class="nav-item"><a href="https://library.ualberta.ca/subject-guides">Subject Guides</a></li>
            <li class="nav-item"><a href="https://library.ualberta.ca/hours-locations">Hours &amp; Locations</a></li>
            <li class="nav-item ual-about"><a href="https://library.ualberta.ca/about-us">About <span class="d-lg-none d-xl-block">the Library</span><span class="d-none d-lg-block d-xl-none"> Us</span></a></li>
            <li class="nav-item"><a href="https://library.ualberta.ca/my-account">My Account</a></li>
            <li class="nav-item dropdown">
              <a href="ask-us" class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ask <br/>Us</a>
              <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://library.ualberta.ca/ask-us">Chat with Us</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://web.library.ualberta.ca/ereference/email/index.php">Email Us</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://web.library.ualberta.ca/appointment/index.php">Book a Consultation</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.library.ualberta.ca/about-us/staff/subject-librarians">Find your Subject Librarian</a>
              </div>
            </li>
            <li class="nav-item d-block d-lg-none"><a href="/search">Search</a></li>
            <li class="nav-item pt-4 d-none d-lg-block">
              <span class="fa-stack fa-1x ual-stack" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle-second="tooltip" data-placement="bottom" title="Site Search" tabindex=0 aria-label="Site Search">
                <i class="fas fa-circle fa-stack-2x ual-circle"></i>
                <i class="fas fa-search fa-stack-1x fa-inverse"></i>
              </span>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <form class="form-inline mr-2">
                    <input type="text" class="form-control mb-2 ml-2 mr-2" id="inlineFormInputName2" placeholder="">
                  <button type="submit" class="btn ual-btn mb-2">Site Search</button>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<main class="flex-fill container ual-ds-main">
