# *** WARNING *** Don't change this file ! 
#
# This file is a placeholder.  In Dev/Test/Prod, this file will
# be replaced by ansible, whence we have 3 separate templates, one
# for each environment! 
# See:
# [nmacgreg@its004nm2 ansible-dev-master]$ ls -al roles/blacklight-application/templates/database*
# -rwxrwxr-x. 1 nmacgreg nmacgreg 643 Apr 22 09:01 roles/blacklight-application/templates/database.yml
# -rw-rw-r--. 1 nmacgreg nmacgreg 470 May 11 09:45 roles/blacklight-application/templates/database.yml.prod.j2
# -rw-rw-r--. 1 nmacgreg nmacgreg 508 Mar 26 11:07 roles/blacklight-application/templates/database.yml.test.j2


# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password: mysecretpassword
  host: 127.0.0.1

development:
  <<: *default
  database: discovery_development


# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
  <<: *default
  database: db/test.sqlite3

production:
  <<: *default
  database: db/production.sqlite3
