<script language="javascript">
var urls_html = '<br /><table><tr></tr><% if @document["url_tesim"] %><tr><td><a href="<%= @document["enableproxy_tesim"].first == "1" ? Rails.application.config.proxy : "" %><%= @document["url_tesim"].first %>" target=\'_blank\'>Click Here for Access</a></td></tr><% end %></table><br />';
var urls_node = document.createElement('div');
urls_node.setAttribute('id', 'electronic_access');
urls_node.innerHTML = urls_html;
var page_id = "doc_"+<%= @document["id"] %>;
node = document.getElementById(page_id).getElementsByTagName("h1")[0];
node.appendChild(urls_node);
</script>
