<table>
  <tr></tr>
  <% if @document["url_tesim"] %>
    <tr>
      <td>
        <a href="<%= @document["enableproxy_tesim"].first == "1" ? Rails.application.config.proxy : "" %><%= @document["url_tesim"].first %>" target=\'_blank\'>Click Here for Access</a>
      </td>
    </tr>
  <% end %>
</table>
