<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <%= render_facet_limit_list paginator, solr_field %>

  <% unless paginator.last_page? || params[:action] == "facet" %>
    <li class="more_facets">
      <%= link_to t("more_#{facet_field.label}_html", scope: 'blacklight.search.facets', default: :more_html, field_name: facet_field.label),
                  search_facet_url(id: solr_field),
                  class: 'more_facets_link',
                  data: { ajax_modal: 'trigger' } %>
    </li>
  <% end %>
</ul>
