
         <table class="table table-responsive">
          <tr>
            <th>Holdings</th>
          </tr>
          <tr>
            <td>
              <a href="https://www.ualberta.ca/kule-folklore-centre/" target="_blank">
                Kule Folklore Centre</a>
            </td>
          </tr>
        </table>
