
         <table class="table table-responsive">
          <tr>
            <th>Holdings</th>
          </tr>
          <tr>
            <td>
              <a href="http://www.mlcs.museums.ualberta.ca/BohdanMedwidskyUkrainianFolkloreArchives.aspx" target="_blank">
                Bohdan Medwidsky Ukrainian Folklore Archives</a>
            </td>
          </tr>
        </table>
