
<script language="javascript">
var urls_html = "<br /><% unless @ua_urls.empty? %><% @ua_urls.each do |location,url| %><div class=\"row\"><a href=\"<%= Rails.application.config.proxy+url %>\" target=\"_blank\"><span>University of Alberta Access</span><span><%= url %></a><% end %><% end %><br />";
var urls_node = document.createElement('div');
urls_node.setAttribute('id', 'electronic_access');
urls_node.innerHTML = urls_html;
node = document.querySelector("[itemprop=name]");
node.appendChild(urls_node);
</script>


