
      <%= link_to "Place Hold", "https://myaccount.library.ualberta.ca/createholds.php?hldCatKey=#{@document.id}", :class => "btn hold" %>
      <p style="font-size:90%"><strong><a href="http://www.library.ualberta.ca/permalink/opac/<%= @document["id"] %>/WUAARCHIVE">Place hold with barcode and PIN</a>.</strong></p>
