
      <%= link_to "Place Hold", "https://myaccount.library.ualberta.ca/createholds.php?hldCatKey=#{@document.id}", :class => "btn hold" %>
      <p style="font-size:75%"> If you login with a barcode and PIN, click <a href="http://www.library.ualberta.ca/permalink/opac/<%= @document["id"] %>/WUAARCHIVE">here</a>.</p>
