<% # bookmark/folder functions -%>
<h1><a href="/catalog?q=&quot;<%= document.to_h['title_display'].first %>&quot;"><%= "#{document.to_h["title_display"].first}, #{document.to_h["edition_tesim"].first}" %></a></h1>
