<div id="subject-list">
  <p class="blacklight-subject_topic_facet">Subjects</p>
  <ul class="subject-chain-links">
    <% @subjects.each do |subject| %>
      <li>
        <% subject.each_with_index do |asubject, index| %> 
          <%= link_to asubject, catalog_index_path(q: subject_query(subject, index), view: 'brief', search_field: 'subject') %>
          <% unless index == subject.size - 1  %>
            <span class="glyphicon glyphicon-menu-right"></span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
