<div class="modal-header">
  <h1 class="modal-title"><%= t('blacklight.tools.citation') %></h1>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
  <%= render :partial => 'citation' -%>
</div>
