body{
	padding-top: 70px;
}



@media (min-width: 492px){
	body{
		padding-top: 100px;
	}
}


@media (min-width: 768px){
	body{
		padding-top: 220px;
	}
}

@media (min-width: 992px){
	body{
		padding-top: 340px;
	}
}