
/* resets of existing classes and elements */
body, .sticky-footer-wrapper {
   min-height:100vh;
}
.flex-fill{
   flex:1 1 auto;
}
.dropdown-menu {
    top: 80%;
}
.card {
  border:none;
}
.card-header{
  background-color:#284E36;
  border:#00492c solid 3px;
  border-width: 3px 3px 0 3px;
  color:#fff;
}
.card-header h2{
    color:#fff;
}
.card-header h2 a{
    color:#FDE382
}
.card-header h2 a:hover{
    color:#fff;
}
.card-body{
  border:#00492c solid 3px;
  border-width: 0px 3px 3px 3px;
  border-radius:0px 0px 5px 5px;
}
.card>.list-group{
  border-top:none;
}
.list-group-item a{
  display:block;
}
.list-group-item:hover{
  background-color: #FCFCF0;
}
.hp{ 
   display: none; 
}  
.form-control{
  border-color:#00492c;
}

/* custom ual styles */

/*header styles*/
.ual-btn{
  color:#fff;
  background-color:#007C41;
}
.ual-btn:hover{
  background-color:#7AB800;
  color:#fff;
}
.ual-ltgr-line{
    border-top:0.2rem solid #7AB800;
}
.ual-yellow-line{
    border-top:0.2rem solid #FFDB05;
}
.ual-top{
  border-top:0.4rem solid #7AB800;
  border-bottom:0.4rem solid #007C41;
  background-color:#FCFCF0;
}
.ual-blade{
  background-color:#fff;
  padding:0;
}
.ual-blade li{
  text-align:right;
  padding:0.5em 0;
  font-size:.875em;
  padding-right: 1.5rem;
}
.ual-blade .navbar-nav>li>a{
  color: #666;
  display:inline-block;
}
.ual-blade .navbar-nav>li>a:hover{
  color:#333;
  text-decoration:none;
}
.ual-nav .navbar-brand{
  width:18rem;
}
.ual-logo{
  width:90%;
}
.ual-blade-toggler{
  font-size:0.7em;
  padding:0.1rem 0.2rem;
  margin-right:1rem;
  background:#FFDB05;
}
.ual-navbar-toggler{
  font-size:1rem;
  padding:0.2rem 0.4rem;
}
.ual-stack{
  cursor: pointer;
}
.ual-stack .ual-circle{
  color:#7AB800;
}
.ual-stack:hover .ual-circle{
  color:#007C41;
}
.ual-nav .navbar-nav>li{
  border-top:1px solid #FFDB05;
  text-align:center;
  padding:0.5rem 0;
}
.ual-nav .navbar-nav>li>a{
  color:#284E36;
  font-size:1.05em;
  font-weight:bold;
  display:block;
}
.ual-nav .navbar-nav>li>a:hover{
  color: #007C41;
}
.ual-nav .navbar-nav>li>a>br{
  display:none;
}
/* chat button pulse - must include animaation */
.ual-pulse {
  color:#fff;
  display: block;
  padding:5px 10px;
  font-weight:bold;
  background: #007C41;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.ual-pulse:hover {
  animation: none;
  color:#FCFCF0;
  background:#7AB800;
  text-decoration:none;
}
/* animation */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(122,184,0, 0.9);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(122,184,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(122,184,0, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(122,184,0, 0.9);
    box-shadow: 0 0 0 0 rgba(122,184,0, 0.9);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(122,184,0, 0);
      box-shadow: 0 0 0 10px rgba(122,184,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(122,184,0, 0);
      box-shadow: 0 0 0 0 rgba(122,184,0, 0);
  }
}

/* main container custom styles*/
.ual-container{
  padding:2rem 1rem;
  min-height:26rem;
}
.ual-container h1, h2, h3, h4, h5, h6{
     color: #284E36;
}
.ual-container h1{
  font-size: 1.8em;
  border-bottom:0.1rem solid #FFDB05;
  padding-bottom:0.8rem;
  margin-bottom:2rem;
}
.ual-container h1>div{
  font-size:0.6em;
  float:right;
  margin-top:0.9em;
}
.ual-container h2{
  font-size: 1.4em;
}
.ual-container h3{
  font-size: 1.3em;
}
.ual-container h4{
  font-size: 1.2em;
}
.ual-container h5{
  font-size: 1.1em;
}
.ual-container p, .ual-container li{
  line-height: 1.8em;
}
.ual-container a, footer a{
  color: #007C41;
  font-weight:bold;
  text-decoration: underline;
}
.ual-container a:hover, footer a:hover{
  text-decoration: none;
  color: #284E36;
}
.ual-container .card h2{
  font-size:1.2em;
  margin-bottom:0;
}
.ual-large-text{
  font-size:1.3em;
}
.ual-btn-lang{
  margin-top:-2em;
  padding:0 10px 3px 10px;
  border-radius:0 0 5px 5px;
}
.ual-container a.ual-btn{
  color:#fff;
  text-decoration:none;
  font-weight:normal;
}

/* footer styles */
.ual-ft{  
  border-top:0.3rem solid #00492c;
  background-color:#FCFCF0;
}
.ual-ft-bottom{
  height:8rem;
  background-color:#00492c;
  background-image:url("/pattern-sm.svg");
  background-size:80%;
}
.ual-ft-nav{
  list-style:none;
  font-size:0.9em;
  padding-left: 0;
}
.ual-ft-nav li{
  padding:3px 0;
}
.ual-ft-logo{
  max-width:300px;
}
.ual-ft-list{
  padding:0;
}
/*darkmode styles */
#dark-mode-toggle{
  margin-left:0.5rem;
  color: #007C41;
}
.dark-mode{
  background:#333;
}
.dark-mode .ual-bg{
  background: #ddd7ae;
}
.dark-mode .ual-top{
  background:#00492c;
}
.dark-mode .ual-nav .navbar-nav>li>a{
  color:#FCF9E2;
}
.dark-mode .card-header{
  background:#5F3811;
}
.dark-mode .ual-blade, .dark-mode .card-body, .dark-mode .list-group-item, .dark-mode footer{
  background:#DDD7AE;
}
.dark-mode .ual-container h4, .dark-mode .ual-container h1, .dark-mode .ual-container h2 {
    color:#FCF9E2;
}
.dark-mode .ual-container p, .dark-mode .ual-container li{
  color:#fff;
}
.dark-mode .ual-container p.small{
  color:#000;
}
.dark-mode .ual-container a{
  color:#7AB800;
}
.dark-mode .ual-container .card a, .dark-mode .ual-container .list-group a{
  color:#007C41;
}
.dark-mode .ual-container .card a.ual-btn{
    color:#fff;
}
.dark-mode .ual-blade .navbar-nav>li>a {
    color: #222;
}

/* large breakpoint */
@media (min-width: 992px) {
    .ual-container a.ual-find-link{
      font-size:1.25em;
      padding:1.2rem 0.3rem;
    }
    .ual-nav .navbar-brand{
      width:30rem;
    }
    .ual-francaise{
      padding-left:1.5em;
    }
    .ual-blade li{
      padding-right:.5rem;
    }
    .ual-blade li:not(:last-child):after{
      content: "|";
      padding-left: .5rem;
      color: #666;
    }
    .ual-nav .navbar-nav>li{
      border-top:0;
      padding: 1rem 1.4rem;
      text-align:left;
    }
    .ual-nav li.nav-item:last-child{
      padding-right:0;
      padding-left:0;
    }
    .footer-top{
    padding-top:1.5rem;
    }
    .ual-ft-list{
      text-align:right;
    }
    .ual-rss{
    overflow: scroll;
  }
  .ual-nav .navbar-nav>li>a>br{
    display:block;
  }
}
/* extra large breakpoint */
@media (min-width: 1200px) { 
    .ual-about>a>.d-xl-block{
    display:inline!important;
  }
}