a{
  color: #007C41;
  font-weight:bold;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  color: #284E36;
}
.document h1{
  font-size: 1.8em;
  border-bottom:0.1rem solid #FFDB05;
  padding-bottom:0.8rem;
  margin-bottom:0.8rem;
  margin-left:1rem;
}
.ual-ds-main .nav-item a, .ual-ds-main .nav-item{
    display: block;
    padding: 0.1rem 0;
    min-width:10rem;
}
.card{
  margin-bottom:0.2rem;
}
.limit-search{
  padding:0;
  padding-top:2rem;
}
.btn-small, .btn-sm, .btn-secondary, .btn-ltblue, .hold, .btn-default, #hathitrustButton{
  color:#fff;
  background-color:#007C41;
  margin-left:0.2rem;
}
.btn-small:hover, .btn-sm:hover, .btn-secondary:hover, .btn-ltblue:hover, .hold:hover, .btn-default:hover, #hathitrustButton:hover{
  background-color:#7AB800;
  color:#fff;
}
.btn-secondary a, #sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle, .facet-field-heading a:hover {
  color:#fff;
}
.btn-sm-ad{
  margin-left:0.2rem;
  color:#fff;
  background-color:#284E36;
}
.btn-sm-ad:hover{
    background-color:#333;
    color:#fff;
}
.hold{
  font-size:1.6em;
  margin-bottom:10px;
}
.outlined{
  padding:1.5rem;
  border:1px solid #007C41;
  border-radius: 5px;
}
.constraints-container{
  border:3px solid #7AB800;
  margin-top:2.8rem;
  padding:0.5rem 1rem;
}
span.constraints-label{
  margin-left:3rem;
  font-size: 0.7em;
}
#sortAndPerPage{
    margin-top:2rem;
}
#previousNextDocument{
  margin-bottom: 2rem;
}
.outlined p{
  margin-bottom:0;
  font-size:1.3em;
}
.search-text-box{
  margin-top:1rem;
}
.ual-ds-main{
  padding:2rem 0;
}
.results-img img{
  margin-bottom:.5rem;
  width:60%;
  float:right;
}
#electronic_access{
  margin-bottom: 1rem; 
  border: 2px solid #007C41;
  padding:0.5rem 1rem;
  border-radius: 10px;
  margin-left: 1rem;
}
#electronic_access:hover{
  background-color: #FCFCF0;
  }
#electronic_access .row{
margin:0;
  }

#holdings{
  margin-left: 1rem;
}
.where-is-this{
  border: 2px solid #007C41;
  width: 100%;
  font-size: 1.2em;
}
.where-is-this th{
  padding:0.4rem;
  background-color: #007C41;
  color:#fff;
}
.where-is-this td{
  border-bottom: 1px solid #007C41;
  padding:0.6rem;
}
.toggle_bookmark{
  margin-top: 0.2rem;
}
.document-metadata dd{
  margin-left: -1.5rem;
}
.where-is-this-item{
  display: block;
}
.where-is-this-item-title{
  font-style:italic;
}
.where-is-this-buttons a:not(:last-child):after{
    content: "|";
    padding-left: .5rem;
    color: #666;
  }
.call-number{
  font-weight: bold;
}
#document dl{
  margin-left: 1rem;
}
#document dt{
  float: left;
  width: auto;
  margin-right: 5px;
}
.show-document .blacklight-subject_topic_facet{
  margin-left: 1rem;
  font-weight: bold;
}
.show-tools{
  background-color: #FCFCF0;
  padding:1rem;
  font-size:0.8em;
}
#hathitrustButton {
  display: none;
}
.navbar-toggler.navbar-toggler-right {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 3px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
}
.page-link {
  color: #007C41;
}
.page-item.active .page-link {
    background-color: #007C41;
    border-color: #007C41;
  }