#top{
	padding-top: 70px;
}



@media (min-width: 492px){
	#top{
		padding-top: 70px;
	}
}


@media (min-width: 768px){
	#top{
		padding-top: 190px;
	}
}

@media (min-width: 992px){
	#top{
		padding-top: 310px;
	}
}

