* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -124px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 124px; /* .push must be the same height as .footer */
}


/*used to create 5 column layout - from http://www.wearesicc.com/quick-tips-5-column-layout-with-twitter-bootstrap/ */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


/*begin custom styles by Natasha Nunn at University of Alberta Libraries 2014*/
body{
	font-family: 'Abel', sans-serif;
	font-size: 175%;
}
body.home{
	padding-top: 330px;
}
a{
	color: #2c733b;
}
.header{
	
	padding-bottom: 17px;
}
h1{
	margin-top: 23px;
}
h2{
	margin-top: 10px;
}
h2 span.small{
	font-size: 70%;
}
h5{
	font-size: 120%;
}
.top-margin{
	margin-top: 10px;
}
.extra-top-margin{
	margin-top: 20px;
}
.extra2-top-margin{
	margin-top: 30px;
}

.navbar{
	background: url("banner-bg.jpg") repeat-x center 49px;

}
.navbar-default {
	background-color: #fff;
	border:none;
}
.navbar-nav {
	float: right;
}
.nav>li>a {
	font-size: 15px;
	padding: 5px 10px;
	border-right: 1px solid #eee;
}
.nav>li>img{
	margin-top: -10px;
}
.navbar-default .navbar-nav>li>a{
	color: #999;
}
.navbar-default .navbar-collapse{
	margin-top: 10px;
}
.navbar-collapse{
	padding-right: 0;
}
.ualogo{
	width: 100%;
	min-width: 220px;
	max-width: 300px
}
ul.ask{
	float: right;
	margin-bottom: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	margin-top: 25px;
	padding: 15px 5px 10px 5px;
}
.ask li{
	float: left;
	list-style: none;
}
.ask li a{
	display: block;
	padding: 0px 10px;
	text-transform: lowercase;
	color: #fff;
	border-right: 1px solid #fff;
}
.ask li a:hover{
	color: #FBED32;
	text-decoration: none;
}
.ask li a.last, .nav>li>a.last, #last{
	border-right: none;
}
.ask li a.ask-main{
	color: #FBED32;
	font-size: 22px;
	letter-spacing: 1px;
	margin-top: -6px;
	border-right: none;
	padding-left: 33px;
	margin-left: 5px;
	background: url("ask-icon.png") no-repeat left bottom;
}
.ask li a.ask-main:hover{
	color: #fff;
	background-position: left 4px;
}
#main-nav{
	margin: 15px 0;
	padding: 0;
}

#main-nav li{
	background-color: #fff;
	padding:10px;
	cursor: pointer;
	margin-bottom:0;
	list-style: none;
	border-right:5px solid #eceff4;
	border-top:5px solid #eceff4;
	border-bottom: 5px solid #eceff4;
}
#main-nav li:hover{
background-color: #fffef2;
	}
#main-nav h3{
	margin: 0;
	margin-bottom: 5px;
}
#main-nav p{
	padding-left:50px;
	font-size: 16px;
	margin-bottom: 0;
	color: #333;
}

#main-nav #services p{
	background: url("services-icon.png") no-repeat left 10px;
}

#main-nav #subjects p{
	background: url("subjects-icon.png") no-repeat left 10px;
}
#main-nav #research p{
	background: url("research-icon.png") no-repeat left 10px;
}
#main-nav #news p{
	background: url("news-icon.png") no-repeat left 10px;
}
#main-nav #account p{
	background: url("account-icon.png") no-repeat left 10px;
}
#main-nav.small #home h3{
	background: url("home-icon.png") no-repeat left 5px;
	-webkit-background-size: 20px;
	background-size: 20px;
}
#main-nav.small #services h3{
	background: url("services-icon.png") no-repeat left 5px;
	-webkit-background-size: 20px;
	background-size: 20px;
}
#main-nav.small #subjects h3{
	background: url("subjects-icon.png") no-repeat left 5px;
	-webkit-background-size: 20px;
	background-size: 20px;
}
#main-nav.small #research h3{
	background: url("research-icon.png") no-repeat left 5px;
	-webkit-background-size: 20px;
	background-size: 20px;
}
#main-nav.small #news h3{
	background: url("news-icon.png") no-repeat left 5px;
	-webkit-background-size: 20px;
	background-size: 20px;
}
#main-nav.small #account h3{
	background: url("account-icon.png") no-repeat left 5px;
	-webkit-background-size: 20px;
	background-size: 20px;
}
#main-nav.small{
	margin: 0;
	background:#eceef3;
}
#main-nav.small p{
	display: none;
}
#main-nav.small h3{
	font-size: 17px;
	padding-left: 25px;
	padding-top: 8px;
}
#main-nav.small>div>div{
	border-bottom: 4px #cdd1d3 solid;
		margin-bottom: 0;
}
#main-nav.small>div>div.active{
	border-bottom: 4px #4C6F84 solid;
	background: url("nav-select.png") #fff no-repeat center bottom;
	}
#main-nav, #main-nav p{
	 transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
#main-nav a:hover{
	text-decoration: none;
} 

#main-nav a span{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}   
.btn-small{
background-color: #1b460c;
color: #efefef;
}
.btn-small:hover, .btn-small:active, .btn-small:focus{
background-color: #0d2f10;
color: #fff;
}
.btn-xsmall{
	background-color: #B2C6D1;
	padding: 5px;
	color: #333;
}
.btn-xsmall:hover, .btn-xsmall:active, .btn-xsmall:focus{
	background-color:#4d82a1;
	color: #fff;
}
.all{
	text-align: right;
	padding: 8px 10px 0 10px;
	font-size: 15px;
}
.all span{
	font-size: 12px;
}
.results{
	border: 10px solid #fff;
	border-width: 0 10px;
	padding:0 20px;
	background-color: #eceef3;
}
#ejournals{
	
}
#databases{
	float: right;
}
.collapse.in{
	height: 20px;
}
.results-head{
	margin-left:-5px;
	margin-right: 10px;
}
.results h3{
	color: #000;
	font-size: 22px;
}
.results h3 a{
	font-size: 15px;
	float: right;
	background-color: #fff;
	padding: 7px;
	border-radius: 4px;
	font-weight: bold;
	margin-top: -5px;
}
.results-bottom a{
	float: left;
	margin-bottom: 10px;
	display: block;
text-align: center;
font-size: 18px;
	padding: 5px;
	background-color:#B2C6D1;
	color: #000;
}

.results h3 a:hover, .results-bottom a:hover{
	background-color:#d1dde4;
	text-decoration: none;
	color: #000;
}
.results ul{
	padding: 0;
	list-style: none;
	font-size: 16px;
}
.results ul li{
	background-color: #fff;
	margin-bottom: 2px;
	padding: 5px;
	overflow: hidden;
}
.results li span{
	font-size: 12px;
}
.results span.date{
	margin-left: 0;
	font-size: 11px;
	font-weight: bold;
	font-family: arial, sans-serif;
	margin-left: 5px;
	}
.results .col-md-10, .results .col-md-2{
	padding-right: 4px;
	padding-left: 4px;
}
.results#articles .col-md-10{
	padding-right: 10px;
}
.results ul li a.full-record{
	border-radius: 4px;
	padding: 3px;
	background-color:#4C6F84; 
	margin-top: 3px;
	display: block;
	font-size: 14px;
	text-align: center;
	color: #fff;
}
.results ul li a:hover.full-record{
		background-color: #000;
		text-decoration: none;
		color: #efefef;
		cursor: pointer;
	}
.results ul li a.pdf-link{
	background-color:#B2C6D1;
	padding: 1px 3px;
	text-align: center; 
	border-radius: 4px;
	color: #000;
	font-size: 13px;
}
.results ul li a:hover.pdf-link{
	background-color:#B2D6C0;
	text-decoration:none;
	}
.results-more{
	margin-top: 5px;
	margin-bottom: 0;
}

.date{
	text-align: center;
}
.status{
	font-weight: bold;
}

.results ul li:hover{
	background-color: #f6f9fa;
}
.results ul li img{
	width: 45px;
	border: 1px solid #999;
	margin-top: 3px;
	}
.results ul li a{
	font-size: 16px;
	font-weight: solid;
}
.results ul li a:hover{
	text-decoration: none;
	}

.result-details{
	margin-bottom: 0;
	margin-top: 5px;
}
.more-results{
	font-size: 14px;
}
.results ul li a.more-locations{
	font-size: 14px;
}
#electronic_access{
	font-size: 16px;
}
#electronic_access span{
	font-size: 14px;
	display: block;
}
#electronic_access span.url-label{
	width: 160px;
	text-align: right;
	font-size: 18px;
	font-weight: normal;
	color: #777777;
	display: inline-block;
}
#electronic_access a{
	display: inline-block;
font-size: 18px;
	padding: 5px 10px;
	background-color:#B2C6D1;
	color: #000;
	margin-left: 18px;
	border-radius: 5px;
}
#electronic_access a:hover, #electronic_access a:focus, #electronic_access a:active{
	text-decoration: none;
	background-color:#d1dde4;
	color: #333;
}
.outlined{
	border: solid 1px #d9e4ea; 
	margin-top: 15px;
	padding: 15px;
	font-size: 19px;
	line-height: 28px;
	text-align: center;
}
.outlined>p{
	margin-bottom: 0;
}
.outlined>p>a{
	background-color: #4C6F84;
	display: inline-block;
	padding: 3px 10px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-left:10px;
	border-radius: 4px;
}
.outlined>p>a:hover{
	background-color:#4d82a1;
	text-decoration: none;
}
#search-results .form-inline .form-control {
	width: 200px;
	font-size: 15px;
	padding: 10px;
}
#search-results .form-inline{
	margin: 0  0 15px 0;
}
ul.foot-nav{
	float: right;
	margin-top: 25px;
}
.foot-nav li{
	float: left;
	list-style: none;
}
.foot-nav li a{
	display: block;
	padding: 0px 10px;
	color: #ecf4e5;
	font-size: 17px;
}
#footer{
	  background: url("footer-bg.jpg") repeat-x;
	  margin-top: 30px;
}
#footer p{
	float: right;
	color: #fff;
}
#footer p a{
	color: #ecf4e5;
}
#footer p a:hover, .foot-nav li a:hover{
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	text-decoration: none;
}
.rds .rds-nav{
	display: block;
	padding: 0 70px;
	box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.3);
	text-align: center;
	padding: 25px 10px 15px 10px;
	border-radius: 5px;
	margin: 10px 0 0 30px;

}
.rds .rds-nav>h3{
		color: #fff;
	font-size: 27px;
	margin-left: 0;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
letter-spacing: 1px;
font-weight: bold;
 
}
.rds .rds-nav>p{
	color: #efefef;
	font-size: 17px;
	}
.rds .rds-nav>h3>span{
	display: block;
	margin-bottom: 4px;
}
.rds-sub a{
font-size: 17px;
font-weight: bold;
padding: 5px 10px;
background-color: #333;
text-transform: lowercase;
color: #fff;
margin: 3px;
border-radius: 3px;

}

.rds-sub a:hover{
	background-color: #666;
}

.rds li{
	margin-left: 20px;
	list-style: disc;
}
.rds li li{
	list-style: circle;
}
.rds h4{
	background-color: transparent;
	font-size: 15px;
	font-weight: bold;
	padding: 0;
}
.rds .quote{
	font-size: 24px;
	line-height: 38px;
	color: #333;
	margin: 10px 10px 20px 30px;
}
.rds .color1{
	background-color: #a11a1a;
}
.rds .color1:hover, .rds .active-color1, .rds .active-color1:hover{
	background-color: #c90e0e;
	}
.rds .color2{
	background-color: #445d42;
}
.rds .color2:hover, .rds .active-color2, .rds .active-color2:hover{
	background-color: #347c2f;
	}
.rds .color3{
	background-color: #354762;
}
.rds .color3:hover, .rds .active-color3, .rds .active-color3:hover{
	background-color: #1f5099;
	}
.rds .color4{
	background-color: #413746;
}
.rds .color4:hover, .rds .active-color4, .rds .active-color4:hover{
	background-color: #4f2162;
	}
.rds .active-color5, .rds .active-color5:hover{
	background-color: #666;
	}
.rds{
	padding: 20px 30px;
}
.rds h2{
font-size: 27px;

	}
.rds h3{
		text-transform: normal;
		font-size: 25px;
		font-weight: normal;
	}
	.rds h4{
		font-size: 22px;
		font-weight: normal;
		padding: 10px 0;
		background-color: transparent;
	}
	.rds p, .rds ul{
	font-size: 18px;
}
.rds ul li{
	margin-left: 30px;
	list-style: disc;
	line-height: 27px;
}
.rds-side{
	background-color: #fff;
	padding: 0 20px 20px 20px;
	border: 1px solid #a8b2aa;
}
.rds-side p{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.rds-side h3{
	margin-top: 20px;
	margin-bottom: 0px;
}

@media (max-width: 768px) {
	body{
		background-image: none;
	}
	.ask li a.ask-main{
		font-size: 17px;
		background: none;
		padding-left: 0;
	}
	.main-nav{
		margin: 0;
		background-color: #999;
	}
	.main-nav>div>div{
		background-color: transparent;
	}
		
	.main-nav>div>div>h3{
		font-size: 14px;
		font-weight: bold;
		color: #000;

	}
	.main-nav>div>div>h3>span{
		display: none;
	}
}

