/*used to create 5 column layout - from http://www.wearesicc.com/quick-tips-5-column-layout-with-twitter-bootstrap/ */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

/*begin custom styles by Natasha Nunn at University of Alberta Libraries 2014/2015 */
body{
	font-family: 'Abel', sans-serif;
}
a{
	color: #2c733b;
	text-decoration: none;
}
a:active, a:visited, a:hover{
	text-decoration: none;
}
.header{
	background: none;
	background-color: #1b4a26;
}
a.anchor {
	display: block;
	position: relative;
	top: -270px;
	visibility: hidden;
}
.minus{
	margin-top: -13px;
}
h1{
	margin-top: 5px;
}
h2{
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2 span.small{
	font-size: 60%;
}
.float-left{
	float: left;
	margin-right: 15px;
}
.up-arrow{
	display: block;
}
#top{
	background-color: #fff;
	border:none;
}
.glyphicon-chevron-up{
	float: right;
	color: #efefef;
	font-size: 80%;
}
.navbar-nav {
	float: right;
	padding-bottom: 8px;
}
#navbar li{
	list-style: none;
}
#navbar li>a{
	color: #fff;
	display: block;
	padding: 5px 10px;
	margin-bottom: 2px;
	background-color: #eceef3;
	color: #000;
	font-size: 17px;
	}
#navbar li>a:hover{
	background-color: #fff;
}
.nav>li>a {
	font-size: 15px;
	padding: 5px 10px;
	border-right: 1px solid #eee;
}
.nav>li>img{
	margin-top: -10px;
}
.navbar-default .navbar-nav>li>a{
	color: #999;
}
.navbar-default .navbar-collapse{
	margin-top: 10px;
}
.navbar-collapse{
	padding-right: 0;
}
.navbar-toggle{
	padding: 0px 7px 6px 7px;
	text-align: center;
}
.navbar-toggle h2{
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 3px 0;
}
.navbar-toggle .icon-bar{
	width: 28px;
}
.navbar-toggle span{
	background-color: #1b4724;
}
.navbar-toggle, .navbar-toggle:active, .navbar-toggle:focus{
	background-color: #eceef3;
}
.navbar-toggle:hover{
	background-color: #fff;
}
.ualogo{
	width: 100%;
	min-width: 220px;
	max-width: 300px
}
.navbar-form{
	padding: 0px 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}
ul.ask{
	margin-bottom: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	margin-left: 0px;
	padding: 0;
}
.ask li{
	float: left;
	list-style: none;
}
.ask li a{
	display: block;
	padding: 0px 10px;
	text-transform: lowercase;
	color: #fff;
	border-right: 1px solid #fff;
}
.ask li a:hover{
	color: #FBED32;
	text-decoration: none;
}
.ask li a.last, .nav>li>a.last, #last{
	border-right: none;
}
.ask li a.ask-main{
	color: #FBED32;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: -20px;
	border-right: none;
	margin-left: 5px;
	background: url("ask-icon.png") no-repeat left bottom;
	-webkit-background-size: 24%;
	background-size: 24%;
	padding-left: 20px;
}
.ask li a.ask-main:hover{
	color: #fff;
	background-position: left 4px;
}
#main-nav{
	margin: 15px 0;
	list-style: none;
}

#main-nav>div>div{
	background-color: #fff;
	padding:10px 5px;
	cursor: pointer;
	margin-bottom: 15px;
	height: 120px;
}
#main-nav>div>div:hover{
	background-color: #fffef2;
}
#main-nav h3{
	margin: 0;
	margin-bottom: 5px;
}
#main-nav p{
	padding-left:50px;
	padding-right: 10px;
	font-size: 16px;
	margin-bottom: 0;
	color: #333;
}
#main-nav #home{
	padding-left: 0;
}
#main-nav #account{
	padding-right: 0;
}
#main-nav #services p{
	background: url("services-icon.png") no-repeat left 10px;
}

#main-nav #subjects p{
	background: url("subjects-icon.png") no-repeat left 10px;
}
#main-nav #research p{
	background: url("research-icon.png") no-repeat left 10px;
}
#main-nav #news p{
	background: url("news-icon.png") no-repeat left 10px;
}
#main-nav #account p{
	background: url("account-icon.png") no-repeat left 10px;
}
#main-nav.small h3{
	background:none;
	padding-left: 0px;
}
#main-nav.small{
	margin: 0;
	background:#eceef3;
}
#main-nav.small p{
	display: none;
}
#main-nav.small h3{
	padding-left: 5px;
	padding-top: 0px;
	min-height: 40px;
}
#main-nav.small>div>div{
	border-bottom: 4px #cdd1d3 solid;
	margin-bottom: 0;
	height:55px;
}
#main-nav.small>div>div:hover{
	border-bottom: 4px #999 solid;
}
#main-nav.small>div>div.active{
	border-bottom: 4px #365367 solid;
	background: url("nav-select.png") #fff no-repeat center bottom;
	}
#main-nav, #main-nav p{
	 transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
#main-nav a{
	text-decoration: none;
}
#main-nav a:hover{
	text-decoration: none;
} 
#main-nav a span{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}  
.pane{
		padding: 15px 0 20px 0;
} 
#home{
	display: none;
}
.search-box{
	background-color: #eceff4;
	margin-bottom: 20px;
	padding: 0px 0px 0px 0px;
}	
.browse{
	margin-top: -10px;
}
.select-btns{
	padding-left: 0px;
}

.pick-library{
	background-color: #fff;
	display: block;
	font-size: 18px;
	padding: 10px;
}
.front-box{
	background-color: #eceff4;
	padding: 10px 20px;
}
.feedback-box a{
	 background-color: #333;
	padding: 10px 20px;
	display: block;
	color: #efefef;
	font-size: 20px;
	text-align: center
}
.feedback-box a:hover{
	background-color: #222;
	color: #fff475;
}
.quick-links{
	margin-top: 20px;
}
.quick-links a{ 
	background-size: 40px 38px;
	display: block;
	background-repeat: no-repeat;
	padding: 17px 5px 17px 60px;
	background-color: #4C6F84;
	color: #fff;
	font-size: 19px;
	margin-bottom: 5px;
}
.reserve-quick-link{
		background-image: url("room.png");
		background-position: 8px 8px;
}
.quick-links a:hover{ 
	color: #e7eff5;
	background-color: #38566c;
}
.account-quick-link{
		background-image: url("account-icon-white.png");
		background-position: 8px 10px;
}
.up{
	float: right;
	margin:10px 0;
	width: 20px;
}
.search-row div{
	margin: 0;
	padding: 0;
}
.form-inline .form-control {
	width: 100%;
	font-size: 13px;
	padding: 8px 10px;
	height: auto;
}
#account-pane .form-inline .form-control {
	width: 250px;
	font-size: 20px;
	padding: 20px;
}
label.mod{
	text-align: right;
	margin-right: 10px;
}
#services-pane{
	background:#404545;
	color: #fff;
}	
.hours ul{
	list-style: none;
	padding-left: 0;
}
.search-header{
	color:  #38566c;
	padding-top: 10px;
	padding-bottom: 0;
}
.hours-header{
	padding-bottom: 0;
	margin-bottom: 0;
}
.hours-header a{
	background-color: #4C6F84;

	padding: 5px;
	color: #efefef;
	display: block;
	text-align: center;
}
.hours-header span, .search-header span{
	font-size: 70%;
}
.hours-header a:hover{
	color: #e7eff5;
	background-color: #38566c;
}
.atoz-wrap{
	background-color: #404545;
	overflow: auto;
	margin-top: -10px;
}
.atoz .col-md-1{
	padding: 0;
}
.atoz h3{
	display: none;
	font-size: 20px;
	color: #C97829;
	margin-top: 0;
	padding: 0;
	margin-top: 5px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-family: "times new";
}
.atoz ul{
	list-style: none;
}
.atoz li>a{
	background:#4f5555;
	color: #fff;
	padding:10px;
	display: block;
	margin: 5px 0;
	font-size: 15px;
	letter-spacing: 1px;
}
.atoz li>a:hover{
	background-color: #757678;
	}
.right-hd ul{
	list-style: none;
}
#sm{
	font-size: 23px;
	margin-left: -5px;
}
.services-bx{
	background: #C97829 no-repeat center 10px;
	padding: 5px;
	color: #fff;
	text-align: center;
	display: block;
	border: 5px solid #C97829;
	margin-bottom:10px;
}
.services-bx:hover{
	background-color: #C1651A;
	color: #fafbeb;
	border: 5px solid #fafbeb;
}

.aud .services-bx{
	background: #4f5555 no-repeat center 10px;
	border: 5px solid #4f5555;
	}
.aud .services-bx:hover{
	background-color: #333;
	color: #efefef;
	border: 5px solid #757678;
}
.services-bx h3{
	font-size: 21px;
}
#services-pane .service-box li>a{
	font-size: 20px;
	border:none;
	padding: 5px 10px;
}
#services-pane .service-box li>ul{
	margin-top: -7px;
}
#services-pane .service-box li>ul>li{
	margin: 0;
}
#services-pane .service-box li>ul>li>a{
	font-size: 15px;
	padding:2px 0 2px 20px;
	margin: 0;
	border:none;
}
#research-pane{
	background-color: #C7D28A;
}
#subjects-pane{
	font-size: 110%;
	background-color: #452325;
}
.subjects{
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 50px;
	border: solid 2px #452325;
	border-width: 0 4px 4px 0;
	background-color: #340d0d;
	height: 120px;
	padding: 0 5px;
}
.subjects:hover{
	background-color: #280808;
	}
#subjects-pane h2{
	color: #fff;
	} 
#subjects-pane ul{
	margin:0;
	list-style: none;
	padding: 0;
}
#subjects-pane li{
	border-top: #fff 2px solid;
}
#subjects-pane li a{
	display: block;
	padding: 5px;
}
.sub-grid{
	padding-left: 30px;
}
#subjects-pane .subject-title h3{
	margin-bottom: 0;
	margin-top: 10px;
	min-height: 60px;
	padding-bottom: 0;
	line-height: 30px;
	letter-spacing:1px;
	padding: 10px;
	font-size: 22px;
	color: #fff;	
}
#subjects-pane .subject-title div{
	text-align: center;
	margin-top: 0px;
}
#subjects-pane .subject-title div a{
	color: #000;
	background-color: #fff;
	font-size: 15px;
	padding: 2px 8px;
	display: inline-block;
	margin-top: 4px;

}
#subjects-pane .subject-title a:hover{
	text-decoration: none;
}
#subjects-pane .subject-title div a:hover{
	background-color: #f7e9e9;
}
.browse-type{
	background-image: url("research-back.jpg");
	padding: 10px;
}
#ag{
	background-image: url("subject-images/ag.png");
}
#arts{
	background-image: url("subject-images/arts.png");
	
}
#aug{
	background-image: url("subject-images/aug.png");
	background-size: 45px;
}
#business{
	background-image: url("subject-images/bus.png");
	background-size: 45px;
}
#ed{
	background-image: url("subject-images/ed.png");
}
#eng{
	background-image: url("subject-images/eng.png");
}
#health{
	background-image: url("subject-images/health.png");
}
#int{
	background-image: url("subject-images/inter.png");
	background-size: 40px;
}
#law{
	background-image: url("subject-images/law.png");
}
#native{
	background-image: url("subject-images/native.png");
	background-size: 40px;
}
#physed{
	background-image: url("subject-images/physed.png");
}
#science{
	background-image: url("subject-images/science.png");
	background-size: 40px;
}
#account-pane{
	min-height: 730px;
}
#account-pane h3 a{
	float: right;
	display: block;
	font-size: 17px;
	background-color: #fff;
	padding: 10px;
	margin-top: -10px;
}
#account-pane li{
	margin-bottom: 8px;
}
.white{
	background-color: #fff;
}
.signin label{
	width: 150px;
	text-align: right;
}
.sign{
	margin-left: 155px;
}
#search-pane{
	background-color: #fff;
	border-top: none;
	padding: 15px 0 40px 0;
}
.search-more-info{
		margin-top: 15px;
		margin-bottom: 5px;
}
.browse-options{
	list-style: none;
	padding: 10px 0px 0px 0px;
}
.hours-wrap{
	margin-top: 10px;
}
.also-explore{
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding-top: 25px;
	color: #38566c;
}
.search-help{
	list-style: none;
	margin: 0;
	padding: 0;
}
.search-help li>a{
	float: left;
	padding: 2px 8px;
	background-color: #fff;
	display: block;
	margin-bottom: 12px;
	margin-left: 3px;
	border: 2px solid #fff;
}
.search-help li>a:hover{
	background-color: #efefef;
	text-decoration: none;
}
.search-help li>a>span{
	font-size: 90%;
}
.browse-options>li>a{
	padding: 5px 10px;
	background-color: #fff;
	display: block;
	font-size: 15px;
	margin-bottom: 3px;
	width: 100%;
	text-align: center;
	border: 2px solid #fff;
}
.browse-options>li>a{
	font-size: 16px;
	font-weight: bold;
	}
.browse-options>li>a:hover{
	background-color: #efefef;
	text-decoration: none;
	color: #333;
}
.search-options{
	width: 50px;
	text-align: right;
	float: left;
	margin-right: 10px;
	line-height: 16px;
	margin-top: 5px;
}
.btn-blue{
	background: url("search-choice-icon.png") #4C6F84 no-repeat 8px center;
	-webkit-background-size: 8px;
	background-size: 8px;
	color: #fff;
	border: #557185;
	padding: 6px 12px 6px 22px;
	font-size: 16px;
	margin-top: 5px;
}
.btn-help{
	background: url("question.png") #4C6F84 no-repeat left 7px;
	padding: 4px 8px 4px 20px;
	font-size: 13px;
	margin-left: 5px;
	color: #efefef;
	line-height: 16px;
}
.btn-help:hover{
	background-color: #38566c;
	color: #fff;
	}
.btn-blue:active, .btn-blue:focus{
	color: #fff;
}
.btn-ltblue{
	background-color: #B2C6D1;
	color: #444;
	border: #4C6F84;
	padding: 6px 10px;
		font-size: 16px;
		margin-top: 5px;
}
.btn-green{
	background-color: #1b460c;
	color: #efefef;
	padding: 6px 15px;
		font-size: 20px;
		margin-left: 0px;
		margin-top: 0
}

.btn-small{
	background-color: #1b460c;
	color: #efefef;
	}
.btn-green-small{
		background:url("adv.png") #4C6F84 no-repeat center bottom;
	color: #efefef;
	font-size: 11px;
	padding: 3px 5px 22px 3px;
	margin-left: 5px;
	}
.btn-blue:hover, .btn-green-small:focus, .btn-green-small:hover{
	background-color: #4C6F84;
	color: #fff;
	}
.btn-green-small:hover{
	background-color: #38566c;
}
.btn-ltblue:hover{
	background-color: #7e9db2;
	color: #fff;
	}
.btn-green:hover, .btn-green:focus{
	background-color: #2a5d18;
	color: #fff;
}
.ccid-login{
	color: #fff;
	border: #557185;
	padding: 6px 20px;
	font-size: 24px;
	margin: 20px 0;
	background-color: #4C6F84;
}
.ccid-login:hover, .ccid-login:active, .ccid-login:focus{
	background-color: #7e9db2;
	color: #efefef;
	}
.barcode{
	font-style: italic;
}
.title{
	margin: 25px 0 20px 0;
}
#news-pane{
	background-color: #4C6F84;
	color: #fff;
}
.news-square{
    padding-bottom: 80%;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.news-square{
	color: #4C6F84;
}
.news-square .slide, .news-square div{
	position:absolute;
    height:100%;
    width:100%;
    background-color: #a5b8c4;
}
.news-square div.connections{
	background-color:rgba(255, 255, 255, 0.2);
	padding: 30px;
}
.news-square .details{
	background-color: #fff;
	background-color:rgba(255, 255, 255, 0.9);
	z-index:500;
	padding: 50px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display:none;
}
.news-stories h2{
	color: #efefef;
	padding: 5px 15px;
}
.news-stories ul{
	list-style: none;
	margin:0;
	padding: 0;
}
.news-stories li a{
	color: #333;
	list-style: none;
	font-size: 18px;
	display: block;
	padding: 12px 15px;
	background-color: #fff;
	margin-bottom: 1px;
}
.news-stories li a span{
display: block;
font-size: 12px;
}
.news-stories li a:hover{
	background-color: #e8eff3;
}
.news-stories>a{
	text-align: center;
	display: block;
	padding: 10px 0;
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
}
.news-stories>a:hover{
 	background-color: #99aebb;
}

/* item is invisible, but used for layout */
.item,
.item-content {
  width: 250px;
  height: 250px;
  margin: 0 35px 35px 0;
}

.item {
  border: none;
  background: transparent;
}

/* item-content is visible, and transitions size */
.item-content {
  width: 250px;
  height: 250px;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
 
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

.item:hover .item-content {
  border-color: white;
  background: #A2C;
  cursor: pointer;
}

/* both item and item content change size */
.item.is-expanded,
.item.is-expanded .item-content {
  width: 535px;
  height: 535px;
}

.item.is-expanded {
  z-index: 2;
}

.item.is-expanded .item-content {
  background: #F90;
}
.social{
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
}
.profile-links{
	list-style: none;
	padding: 0;
	margin: 0;
}
.details h2{
	padding-bottom: 0px;
}
.profile-links>li>a{
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
	display: block;
	text-decoration: none;
	text-align: center;
}
.profile-links>li>a:hover{
	background-color: #777;
	}
.slide img{
	width: 100%;
}
.og-fullimg, .og-details {
	width: 65%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.og-details {
	width: 35%;
}
#tweets{
	padding: 5px 0 5px 10px;
	background-image: url("twitter_normal.png");
	background-repeat: no-repeat;
	background-position: center;
}
.social-icons{
	margin-bottom: 15px;
	text-align: center;
	margin-top: 20px;
}
.lib-pick{
	margin: 5px 0;
}
.library-picker{
	font-size: 20px;
	text-transform: uppercase;
	display: block;
	background-color: #fff;
	padding-bottom: 5px;
}
.library-picker h3{
	margin: 0px 0px 7px 0px;
	font-size: 21px;
	 text-transform: capitalize;
	background-color: #eceff4;
	padding-bottom: 5px;

}
.international{
	color: #fff;
	font-size: 26px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #cdd7de;
	display: block;
	padding:12px 10px;
	background-image: url("inter.png");
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 115px;
}
.international:hover{
	color: #fff;
	background-color: rgba(255, 255, 255, 0.15);
	}
.hours h2 a{
	font-size: 15px;
float: right;
background-color: #fff;
padding: 7px;
border-radius: 4px;
font-weight: bold;

}
#locations-table a{
padding: 10px;
display: block;
background-color: #fff;
height: 65px;
font-size: 15px;
border-bottom: 3px solid #eceef3;
}
#locations-table a:hover{
	background-color: #fcfdff;
	}
#locations-table span dt, #locations-table span dd{
	background-color: transparent;
}
dl#locations-table{
	margin-bottom: 0;
}
#locations-table dt{
	float: left;
	width: 63%;
	margin-right: 6%;
	margin-top: -3px;
	padding-left: 10px;
	font-size: 17px;
}
#locations-table dd{
	float: left;
	width: 31%;
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
}

#locations-table a[href="http://hours.library.ualberta.ca/#view-brucepeel"],
#locations-table a[href="http://hours.library.ualberta.ca/#view-cameronSD"],
#locations-table a[href="http://hours.library.ualberta.ca/#view-stjoe"],
#locations-table a[href="http://hours.library.ualberta.ca/#view-augustana24"],
#locations-table a[href="http://hours.library.ualberta.ca/#view-bard"],
#locations-table a[href="http://hours.library.ualberta.ca/#view-fsa"],

#locations-table a[href="http://hours.library.ualberta.ca/#view-law"],
#locations-table a[href="http://hours.library.ualberta.ca/#view-ill"],
#locations-table a[href="http://hours.library.ualberta.ca/#view-chat"],
#locations-table .headers
{
	display: none;
}
.rutherfordSS dt, .cameronKC dt{
	text-indent: -14px;
}
.hours-widget p strong{
	font-size: 22px;
	margin-top: -10px;
	text-transform: lowercase;
}
.selected-hours{
	font-weight: bold;
	font-size: 18px;
}
.not-your-library{
	margin: 5px 0 0 0;
	font-size: 16px;
	text-align: center;
}
.not-your-library span{
 	font-size: 80%;
}
.open{
	color: #05581b;
	font-weight: bold;
	background-color: #fff;
	padding: 0px 3px;
}
.closed{
	color: #a61303;
	font-weight: bold;
	background-color: #fff;
	padding: 0px 3px;
}
.all{
	text-align: right;
	padding: 8px 10px 0 10px;
	font-size: 15px;
}
.all span{
	font-size: 12px;
}

ul.foot-nav{
	float: right;
	margin-top: 25px;
}
.foot-nav li{
	float: left;
	list-style: none;
}
.foot-nav li a{
	display: block;
	padding: 0px 15px;
	color: #ecf4e5;
	font-size: 19px;
}
#footer{
	  background: url("footer-bg.jpg") #1b4724 repeat-x;
	  padding-bottom: 5px;
}
#footer p{
	float: right;
	color: #fff;
	font-size: 80%;
}
#footer p a{
	color: #ecf4e5;	
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.2);
	padding: 0px 3px;
}
.foot-nav li a:hover{
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	text-decoration: none;
}
#footer p a:hover{
	background-color: transparent;
	text-decoration: none;
}
#footer p.copyright{
	margin-bottom: 5px;
	margin-top:15px;
}
.rds .rds-nav{
	display: block;
	padding: 0 70px;
	box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.3);
	text-align: center;
	padding: 25px 10px 15px 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.rds .rds-nav:hover{
	text-decoration: none;
}
.rds .rds-nav>h3{
		color: #fff;
	font-size: 27px;
	margin-left: 0;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
letter-spacing: 1px;
font-weight: bold;
}
.rds .rds-nav>p{
	color: #efefef;
	font-size: 17px;
	}
.rds .rds-nav>h3>span{
	display: block;
	margin-bottom: 4px;
}
.rds-sub a{
	font-size: 17px;
font-weight: bold;
padding: 5px 10px;
background-color: #333;
text-transform: lowercase;
color: #fff;
margin: 3px;
border-radius: 3px;

}

.rds-sub a:hover{
	background-color: #666;
}

.rds li{
	margin-left: 20px;
	list-style: disc;
}
.rds li li{
	list-style: circle;
}
.rds h4{
	background-color: transparent;
	font-size: 15px;
	font-weight: bold;
	padding: 0;
}
.rds .quote{
	font-size: 24px;
	line-height: 38px;
	color: #333;
	
}
.rds .color1{
	background-color: #a11a1a;
}
.rds .color1:hover, .rds .active-color1, .rds .active-color1:hover{
	background-color: #c90e0e;
	}
.rds .color2{
	background-color: #445d42;
}
.rds .color2:hover, .rds .active-color2, .rds .active-color2:hover{
	background-color: #347c2f;
	}
.rds .color3{
	background-color: #354762;
}
.rds .color3:hover, .rds .active-color3, .rds .active-color3:hover{
	background-color: #1f5099;
	}
.rds .color4{
	background-color: #413746;
}
.rds .color4:hover, .rds .active-color4, .rds .active-color4:hover{
	background-color: #4f2162;
	}
.rds .active-color5, .rds .active-color5:hover{
	background-color: #666;
	}
.rds{
	padding-bottom: 30px;
}
.rds h3{
		text-transform: normal;
		font-size: 25px;
		font-weight: normal;
	}
	.rds h4{
		font-size: 22px;
		font-weight: normal;
		padding: 10px 0;
		background-color: transparent;
	}
	.rds p, .rds ul{
	font-size: 18px;
}
.rds ul li{
	margin-left: 30px;
	list-style: disc;
	line-height: 27px;
}
.rds-side{
	background-color: #fff;
	padding: 0 20px 20px 20px;
	border: 1px solid #a8b2aa;
}
.rds-side p{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.rds-side h3{
	margin-top: 20px;
	margin-bottom: 0px;
}

/* This is a MOBILE first stylesheet - begin styles specific to larger devices */
@media (min-width: 492px){
	h1{
		margin-top: 23px;	
	}
	h2{
		font-size: 30px;
	}	
	.up{
		width: 25px;
	}
	.navbar-form {
		padding: 10px 15px;
		margin-top: 8px;
		margin-bottom: 5px;
	}
	ul.ask{
		margin-left: 190px;
	}
	.main-search span{
		display: none;
	}
	.header{
		background: url("banner.png") #1b4724 no-repeat center;
	 	background-size: 100% 100%;
	 	padding-bottom: 3px;
	}
	.pane{
		padding: 20px 20px 30px 20px;
	}
	.btn-green{
		margin-left: 5px;
	}
	.search-row{
		margin-left: -15px;
		margin-right: -15px;
	}
	.form-inline .form-control {
		font-size: 15px;	
	}
	#top{
		background: url("banner-bg.jpg") repeat-x center 49px #fff;
	}	
	.col-sm-15 {
        width: 20%;
        float: left;
    }
    .navbar-default .navbar-collapse {
		margin-top: 19px;
	}
	#main-nav>div>div{
		height: 40px;
	}
	#main-nav.small>div>div{
		margin-top: 5px;
	}
	#main-nav h3, #main-nav.small h3{
		font-size: 16px;
	}

	#locations-table a{
		height: 45px;
	}
	#locations-table dt{
		width: 80%;
		margin-right: 0;
		padding-left: 0;
		font-size: 15px;
	}
	#locations-table dd{
		width: 16%;
		padding-top: 0px;
		font-size: 12px;
	}
	.news-square{
    	padding-bottom: 39%;
    }
}

@media (min-width: 768px){
	.top-margin{
		margin-top: 10px;
	}
	.pane{
		padding: 30px 0;
	} 
	.extra-top-margin{
		margin-top: 20px;
	}
	.extra2-top-margin{
		margin-top: 30px;
	}
	#top{
		padding-top: 20px;
	}
	.header{
		background-color: transparent;
	}
	ul.ask{
		float: right;
		margin-top: 25px;
		padding: 15px 5px 10px 5px;
		margin-left: 0;
	}
	.ask li a.ask-main{
		font-size: 22px;
		margin-top: -6px;
		padding-left: 33px;
		-webkit-background-size: 26%;
		background-size: 26%;
	}
	.services-bx{
		border-radius: 50%;
		height: 160px;
		padding: 20px;
	}
	.services-bx h3{
		padding-top: 34px;
		font-size: 21px;
	}
	.grey{
		background-color: #4f5555;
		padding: 20px;
	}
	.aud .services-bx{
		border-radius: 0;
		padding: 5px 10px;
		height: 100px;
	}
	.aud .services-bx h3{
		padding-top: 0;
	}
	.grey-hd{
		background-color: #4f5555;
		padding: 10px 15px;
		margin-bottom: 0;
	}
	
	.atoz-wrap{
		background-color: #404545;
		padding: 5px 10px;
		overflow: auto;
		margin-bottom: 15px;
	}
	.atoz h3{
		font-size: 30px;
		display: block;
	}
	.atoz ul{
	  margin-bottom: 0;
	  padding-bottom: 0;
	  padding-right: 0;
	}
	.right-hd ul{
		margin-bottom: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 15px;
	}
	#extra-padding{
		padding-top: 40px;
	}
	#writing{
		background-image: url("writing-icon.png");
		background-size: 55px 55px;
	}
	#reserve-room{
		background-image: url("room.png");
		background-size: 63px 60px;
	}
	#workshops{
		background-image: url("workshop.png");
		background-size: 65px 65px;
	}
	#space-dir{
		background-image: url("space-icon.png");
		background-size: 60px 60px;
	}
	#eresources{
		background-image: url("eresources-icon.png");
		background-size: auto 55px;
	}
	#librarians{
		background-image: url("librarians-icon.png");
		background-size: 78px 65px;
	}
	#reserves{
		background-image: url("reserves-icon.png");
		background-size: 78px 60px;
	}
	#refworks{
		background-image: url("refworks-icon.png");
		background-size: 65px 65px;
	}
	#ask-service{
		background-image: url("ask-service.png");
		background-size: 65px 65px;
	}
	.subjects{
		background-size:70px;
		background-position: 20px 20px;
		height: 180px;
	}
	#ag{
		background-position: 0px 10px;
	}
	#subjects-pane .subject-title h3 a{
		line-height: 35px;
		padding: 10px;
		font-size: 23px;
		color: #fff;	
	}
	#subjects-pane .subject-title div{
		position: absolute;
		top:120px;
		text-align: center;
		width: 287px;
	}
	#subjects-pane .subject-title div a{
		font-size: 18px;
		padding: 8px 15px;
		display: inline;
	}
	#subjects-pane .subject-title div{
		position: absolute;
		top:130px;
		margin-left: 7px;
	}
	#subjects-pane .subject-title h3{
		min-height: 20px;
		padding: 0px 5px 5px 85px;
	}
	#aug{
		background-position: 10px 30px;
		-webkit-background-size: 70px;
		background-size: 70px;
	}
	#business{
		background-position: 20px 20px;
		-webkit-background-size: 60px;
		background-size: 60px;
	}
	#int{
		background-position: 20px 20px;
		-webkit-background-size: 55px;
		background-size: 55px;
	}
	#native{
		background-position: 30px 20px;
		-webkit-background-size: 55px;
		background-size: 55px;
	}
	#science{
		-webkit-background-size: 55px;
		background-size: 55px;
	}
	#account-pane{
		font-size: 130%;
	}
	#news-title{
		margin-top: 10px;
	}
	.news-square{
    	padding-bottom: 33%;
    	margin-right: 0px;
	}
}
@media (min-width: 992px){
	.mine{
		height: 200px;
		display: none;
	}
	#top{
		padding-top: 10px;
	}
	#subjects-pane .subject-title h3{
		line-height: 35px;
		padding: 10px 4px 10px 90px;
	}
	#footer{
		margin-top: 270px;
	}
	.account-quick-link{
		background-position: 8px 25px;
	}
	h2{
		font-size: 26px;
		padding-bottom: 20px;
	}
    .col-md-15 {
        width: 20%;
        float: left;
    }
    .hours-wrap{
		margin-top: 0px;
	}
	.quick-links{
		margin-top: 0px;
	}
	.browse{
		padding-bottom:2px;
		margin-top: 30px; 
	}

	.cta{
		margin-top: 30px; 
		padding: 2px;
		font-weight: bold;
		background-color: #000;
		color: #fff;
	}
	.cta h2{
		font-size: 27px;
		padding: 15px;
		margin: 0;
		text-align: center;
		line-height: 39px;
	}
	.cta span{
		font-style: italic;
		font-size: 28px;
	}
    #main-nav h3{
    	font-size: 19px;
    }
    #main-nav.small h3{
		padding-left: 25px;
	}
  	#main-nav p{
  		font-size: 13px;
  	}
  	#main-nav.small #home h3{
		background: url("home-icon.png") no-repeat left 5px;
		-webkit-background-size: 20px;
		background-size: 20px;
	}
	#main-nav.small #services h3{
		background: url("services-icon.png") no-repeat left 5px;
		-webkit-background-size: 20px;
		background-size: 20px;
	}
	#main-nav.small #subjects h3{
		background: url("subjects-icon.png") no-repeat left 5px;
		-webkit-background-size: 20px;
		background-size: 20px;
	}
	#main-nav.small #research h3{
		background: url("research-icon.png") no-repeat left 5px;
		-webkit-background-size: 20px;
		background-size: 20px;
	}
	#main-nav.small #news h3{
		background: url("news-icon.png") no-repeat left 5px;
		-webkit-background-size: 20px;
		background-size: 20px;
	}
	#main-nav.small #account h3{
		background: url("account-icon.png") no-repeat left 5px;
		-webkit-background-size: 20px;
		background-size: 20px;
	}
	.browse-options>li>a{
		font-size: 15px;
	}
	#main-nav>div>div{
		height: 140px;
	}
	#main-nav.small>div>div{
		margin-top: 0px;
	}
	#footer{
		margin-top: 0px;
	}
	#locations-table a{
		height: 65px;
	}
	#locations-table dt{
		width: 65%;
		padding-left: 10px;
	}
	#locations-table dd{
		width: 31%;
		padding-top: 10px;
	}
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
    h2{
		font-size: 30px;
	}
    #main-nav h3{
    	font-size: 24px;
    }
    #main-nav p{
  		font-size: 16px;
  	} 
  	#main-nav.small h3{
		font-size: 17px;
		padding-left: 25px;
		padding-top: 8px;
	}
  	.form-inline .form-control {
		font-size: 18px;
	}
	.browse-options>li>a{
		font-size: 17px;
	}
	#locations-table a{
		height: 45px;
	}
	#locations-table dt{
		width: 80%;
		padding-left: 0;
	}
	#locations-table dd{
		width: 16%;
		padding-top: 0px;
	}
}

