<div class="col-md-12"><h2> 
          results for <em>
            <% if params[:q] =='' %>
               	everything
            <% else %>
            	<%= params[:q] %>
			<% end %>
            </em> in electronic journals
        </h2>
			<form class="form-inline" role="form">
            	<div class="form-group">   
                    <input type="text" class="form-control" placeholder="search again" name="q">
                </div>
                <button type="submit" class="btn btn-small">search</button>
            </form>
		</div> 
<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'search_sidebar' %>
</div>

<div id="content" class="col-md-9 col-sm-8">
  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'search_results' %>
  <% else %>
    <%= render 'search_results' %>
  <% end %>
</div>

