
    		<form class="form-inline" role="form">
          <div class="form-group">  <label class="search-again" for="search-again">search again</label> 
            <input type="text" class="form-control" placeholder= "search again" value="<%= params.has_key?('q') ? params['q'] : '' %>" name="q" id="search-again" title="search again">
          </div>
          <div class="form-group"> 
            <button type="submit" class="btn btn-small">search</button><a class="btn btn-sm-ad" href="/advanced" data-no-turbolink="true">advanced</a>
            
        </div>
        </form>
